@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,600,700,300);

body{
  font-family: 'Open Sans', Arial, serif; 
  font-weight: 400;
  background-color:#fff;
  color:rgb(44, 62, 80);
}
h1{
  font-family: 'Montserrat', Arial, serif; 
  /*font-family: 'Open Sans', Arial, serif;*/
  font-weight: 700;
}
.header h1{
  margin:1%;
}
.container{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 24em;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.content{
  background-color:#A2CECD;
  
}
.inner{
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  max-width: 50%;
}
.inner .iconmelon {
  position: relative;
  width: 64px;
  height: 64px;
  display: block;
  fill: #525151;
  margin:0 auto;
}

.inhoud .iconmelon {
  position: absolute;
  width:128px;
  height:128px;
  display: block;
  fill: #525151;
  bottom:0px;
  left:calc(50% - 64px);
  transition: all .3s ease-in-out;
}
.iconmelon:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
h2, p{
  text-align:center;
  font-size:0.8725em;
  margin:0;
}
.onder{
  text-align:left;
  padding:8px 10px;
}
.onder p{
  font-weight:400;
  margin:0;
  text-align:left;
  font-size:0.8125em;
}
.onder p strong {
  font-weight:700;
  text-transform:uppercase;
  font-size:1em;
  margin:0;
}

.containerblok{
  width:100%
}
.een{
  width:31%;
  background-color:#2D1E2F;
  border-radius:3px;
  height:250px;
  margin:1%;
}
.twee{
  width:30%;
  height:250px;
  margin:1%;
}
.drie{
  width:30%;
  height:250px;
  margin:1%;
}
.inhoud{
  height:calc(100% - 50px);
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  position:relative;
}
.drie .inhoud{
  background-color:#A9E5BB;
  transition: all .2s ease-in-out;
}

.drie .inhoud:hover{
  background-color:#A2CECD;
}

.drie .inhoud:hover .iconmelon {
  position: absolute;
  width:164px;
  height:164px;
  display: block;
  fill: #525151;
  bottom:0px;
  left:calc(50% - 82px);
}
.onder{
  background-color:#FCF6B1;
  height:50px;
}