@import url(https://fonts.googleapis.com/css?family=Nunito);
@import url(https://fonts.googleapis.com/css?family=Trirong:700);

body.override-bootstrap {
  margin: 0;
  background-color: #f4f3f8;
}
.new-book-container {
  position: relative;
  display: block;
  margin: 100px auto;
  width: 500px;

  .form-label {
    font-family: 'Trirong', serif;
    font-size: 16px;
    color: #212413;
  }
}
.book-list-container .book-table{
  position: relative;
  display: block;
  margin: 100px auto;
  width: 75%;
  height: 100%;
}