@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600);

body.override-bootstrap {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;

  h1 {
    position: relative;
    display: block;
    text-align: center;
  }
}
#mainBubble {
  background: #fff;
  border: solid 1px #ddd;
  box-shadow: 0 0 4px rgba(0,0,0,0);
  font: 10px 'Raleway', sans-serif;
  height: 90vh !important;
  position: relative;
  width: 90%;
  margin: 50px auto;
  padding: 20px;
}
         
#mainBubble svg {
  left: 0;
  position: absolute;
  top: 0;
}
                     
#mainBubble circle.topBubble {
  fill: #aaa;
  stroke: #666;
  stroke-width: 1.5px;
}