.d3-container {
  position: relative;
  display: block;
  width: 100%;
  margin: 100px auto;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 

  text {
    font: 10px sans-serif;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  form {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}