@import url(https://fonts.googleapis.com/css?family=Prompt);
@import url(https://fonts.googleapis.com/css?family=Lato);

/*body.override-bootstrap {
  margin: 0;
  background-color: #fff;
}*/
.square {
  position: relative;
  display: inline-block;
  top: 120px;
  left: 330px;
  height: 100px;
  width: 100px;
  margin-right: 30px;
  background-color: #3aaf13;
  text-align: center;
  vertical-align: middle;
  font-family: arial;
  font-size: 42px;  
  transform: none;
  transition: transform .5s;
  color: #fcfcfc;
  font-family: 'Prompt';
}
.square-container {
  display: inline-block;
  perspective: 50px;
}
.square1:hover {
  transform: skewY(45deg);
  transition: transform .5s;
}
.square2:hover {
  transform: rotate(720deg);
  transition: transform .5s;
}
.square3:hover {
  transform: scale(.8, .5);
  transition: transform .5s;
}
.square4:hover {
  transform: rotateY(745deg) rotateZ(45deg);
  transition: transform .5s;
}
.square5:hover {
  -webkit-transform: rotateX(45deg);
  transform: rotateX(45deg);
  transition: transform .5s;
}
.square6:hover {
  transform: translate3d(20px, 50px, 100px);
  transition: transform .5s;
}
