@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600);

body, html {
  height: 100%;
  margin: 0;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #F7F9F8;

}
.bgimg-1 {
  background-image: url("/images/HEL.jpg");
  background-size: contain;
  min-height: 100vh;
}

.bgimg-2 {
  background-image: url("/images/IMG_3551.jpg");
  background-size: cover;
  min-height: 800px;
}

.bgimg-3 {
  background-image: url("/images/mandi-tweezer.jpg");
  background-size: cover;
  min-height: 800px;
}
.caption {
  position: absolute;
  background-color: #F7F9F8;
  left: 0;
  top: 0;
  padding: 25px 5px;
  width: 100%;
  text-align: justify;
}

.caption span.border {
  background: transparent;
  text-transform: uppercase;
  padding: 18px;
  font-size: 15px;
  letter-spacing: 5px;

  a.nav {
    position: relative;
    display: inline-block;
    color: #211F1E;
    margin-left: 100px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
  }
  a.joc {
    margin-left: 50px;
    margin-right: 200px;
    font-size: 20px;
  }
}
p.joc-about {
  position: relative;
  display: block;
  margin-top: 50px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif; 
  color: #211F1E;
}
p.what-are {
  position: relative;
  display: block;
  top: 50px;
  text-align: left;
  font-size: 25px;
  font-family: 'Raleway', sans-serif; 
  color: #211F1E;
}












