@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600);

body, html {
  height: 100%;
  margin: 0;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #F7F9F8;

}
.bgimg-1 {
  background-image: url("/images/HEL_mod.jpg");
  background-size: cover;
  min-height: 77vh;
}

.bgimg-3 {
  background-image: url("/images/IMG_3551.jpg");
  background-size: cover;
  min-height: 75vh;
  opacity: 0.75;
}
.caption {
  position: absolute;
  background-color: #F7F9F8;
  left: 0;
  top: 0;
  padding: 25px 5px;
  width: 100%;
  text-align: justify;
}

.caption span.border {
  background: transparent;
  text-transform: uppercase;
  padding: 18px;
  font-size: 15px;
  letter-spacing: 5px;

  a.nav {
    position: relative;
    display: inline-block;
    color: #211F1E;
    margin-left: 100px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
  }
  a.joc {
    margin-left: 50px;
    margin-right: 30%;
    font-size: 25px;
    color: #211F1E;
  }
  a.nav:after, a.joc:after {
    content: '';
    display: block;
    margin: auto;
    height: 0.07em;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
  }
  a.nav:hover:after, a.joc:hover:after {
    width: 100%;
    background: #211F1E;
  }
  a.nav:hover, a.nav:active, a.nav:visited,
  a.joc:hover, a.joc:active, a.joc:visited {
    text-decoration: none;
    color: #211F1E;
  }
}
p.joc-about {
  position: relative;
  display: block;
  margin-top: 40px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif; 
  color: #211F1E;
}
p.what-are {
  position: relative;
  display: block;
  top: 40px;
  text-align: left;
  font-size: 25px;
  font-family: 'Raleway', sans-serif; 
  color: #211F1E;
}
a.sample-nav {
  position: relative;
  display: block;
  font-size: 15px;
  letter-spacing: 3px;
  width: 210px;
  font-family: 'Raleway', sans-serif;
  color: #211F1E;
  text-transform: uppercase;
}
a.sample-nav:hover, a.sample-nav:active, a.sample-nav:visited {
  text-decoration: none;
  color: #211F1E;
}
a.sample-nav:after {
  content: '';
  display: block;
  margin: auto;
  height: 0.07em;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}
a.sample-nav:hover:after {
  width: 100%;
  background: #211F1E;
}







