h1.jocTimer {
  position: relative;
  display: block;
  top: 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 35px;
  color: #190338;
  text-align: center;
}
.stopwatch-container {
  position: relative;
  display: block;
  margin: 20px auto;
  padding: 30px;
  height: 480px;
  width: 320px;
  background-color: #F0F1F3;
  border-radius: 6px;
  box-shadow: 2px 2px 10px 2px rgba(83, 83, 83, 0.6);

  .test-name {
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    text-align: center;
  }
  .form-number {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    text-align: center;
  }
  .reset-button {
    position: relative;
    display: block;
    left: 90%;
    top: -120px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    background-color: #F2F3F5;
  } 
  .cum-counter {
    position: relative;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    top: 20px;
    left: 10px;
  }
  .split-counter {
    position: relative;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    top: 20px;
    left: 10px;
  }
  .btn.start-stop-button {
    position: relative;
    display: inline-block;
    padding: 0;
    height: 80px;
    width: 125px;
    margin: 20px;
    top: 25px;
    left: 40px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    text-align: center;
    background-color: #17B20A;
    color: #fff;
   }
  .btn.start-stop-button:focus {
    outline: none;
  }
  .btn.misc-button {
    position: relative;
    display: inline-block;
    padding: 0;
    height: 80px;
    width: 125px;
    margin: 20px;
    top: 25px;
    left: 125px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    text-align: center;
    background-color: #089D9A;
    color: #fff;
  }
  .btn.misc-button:focus {
    outline: none;
  } 
  .score {
    position: relative;
    display: block;
    top: 320px;
    left: 400px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
  }
  .create-csv {
    background-color: #F0F1F3;
    position: relative;
    display: block;
    top: -15px;
    left: 400px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
  }
  .create-csv:focus {
    outline: none;
  }
  .item-container {
    position: relative;
    display: block;
    left: 10px;
    top: 25px;
    height: 350px;
    width: 350px;
    border: 1px solid black;
    font-family: 'Ubuntu', serif;

    h2 {
      position: relative;
      font-family: 'Ubuntu', serif;
      font-size: 30px;
      text-align: center;
      top: 100px;
    }
    h4 {
      position: relative;
      font-family: 'Ubuntu', serif;
      font-size: 50px;
      text-align: center;
      top: 145px;
    }
    .tweezer-row {
      position: relative;
      text-align: center;
      font-family: 'Ubuntu', sans-serif;
      font-size: 50px;
      top: 100px;
    }
    .dropped-pin {
      position: relative;
      display: inline-block;
      top: 150px;
      left: 50px;
      width: 100px;
      height: 100px;
      border-radius: 100%;
      font-family: 'Ubuntu', sans-serif;
      font-size: 18px;
      text-align: center;
      background-color: #555;
      color: #fff;
    }
    .dropped-pin:focus {
      outline: none;
    }
    .dropped-pin:active {
      background-color: #000;
    }
    .picked-up {
      position: relative;
      display: inline-block;
      top: 150px;
      left: 150px;
      width: 100px;
      height: 100px;
      border-radius: 100%;
      font-family: 'Ubuntu', sans-serif;
      font-size: 18px;
      text-align: center;
      background-color: #fff;
      color: #555;
    }
    .picked-up:focus {
      outline: none;
    }
    .picked-up:active {
      background-color: #dfdfdf;
    }
  }
}

table {
  position: relative;
  margin: 50px auto;
  font-family: 'Ubuntu', monospace;
  font-size: 20px;

  tr {
    height: 20px;
    width: 100px;
  }

  td {
    border: 1px black solid;
    padding: 5px;
  }
}

