.timer-container {
  width: 300px;
  margin: auto;
  text-align: center;
}

.timer-container .counter {
  font-size: 64px;
}

.timer-container .split-time {
  width: 250px;
  height: 400px;
  margin: auto;
  text-align: left;
  font-family: arial;
  font-size: 14px;
}

.timer-container .lap-time {
  width: 250px;
  height: 400px;
  margin: auto;
  text-align: right;
  font-family: arial;
  font-size: 14px;
}