/*  body.landing-page {
    margin: 0;
    background-color: #720EFF;

    .nav-items {
      position: relative;
      display: block;
      width: 85vw;
      height: 85vh;
      margin: 5vh auto;
      text-align: center;
    
      a.landing-nav {
        display: inline-block;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 30px;
        color: #FFFEFF;
        margin: 5vw; 
      }
      a.landing-nav:hover {
        text-decoration: none;
        color: #323333;
      }
    }
  }
  .cloud {
    width: 350px; height: 120px;
    
    background: #f2f9fe;
    background: linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
    background: -webkit-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
    background: -moz-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
    background: -ms-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
    background: -o-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
    
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    
    position: relative;
    margin: 120px auto 20px;

    a.marisaile {
      display: block;
      font-family: 'Montez', cursive;
      font-size: 6vmin;
      color: #FFFEFF;
      /*line-height: 50px;*/
      /*margin-right: 6vw;
      margin-left: 4vw;

      span {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1vmin;
        color: #FFFEFF;
      }
      span:hover {
        text-decoration: none;
        color: #323333;
      }
    }
    a.marisaile:hover {
      text-decoration: none;
      color: #323333;
    }
  }

  .cloud:after, .cloud:before {
    content: '';
    position: absolute;
    background: #f2f9fe;
    z-index: -1
  }

  .cloud:after {
    width: 100px; height: 100px;
    top: -50px; left: 50px;
    
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
  }

  .cloud:before {
    width: 180px; height: 180px;
    top: -90px; right: 50px;
    
    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
  }
    

      




*/