@import url(https://fonts.googleapis.com/css?family=Montez);
@import url(https://fonts.googleapis.com/css?family=Taviraj);
@import url(https://fonts.googleapis.com/css?family=Raleway);

body.landing-override-bootstrap {
  margin: 0;
  background-color: #F0F1F3;

  .portfolio-landing {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #530ABA;

    .header-logo {
      position: relative;
      display: block;

      a.marisaile {
        position: relative;
        display: block;
        top: 40vh;
        left: 21vw;
        font-family: 'Montez', cursive;
        font-size: 8vmin;
        color: #F0F1F3;
      }
      a.marisaile:hover {
        text-decoration: none;
      }
    }
    .horizontal-line {
      position: relative;
      display: block;
      width: 57vw;
      left: -1vw;
      top: 35vh;
      border-top: 2px solid #F0F1F3;
    }
    .sections {
      position: relative;
      display: inline-block;
      top: 33vh;
      left: 55%;

      a.nav-sections {
        font-family: 'Raleway', sans-serif;
        font-size: 2.5vmin;
        color: #F0F1F3;
        margin: 2vw;
      }
      a.nav-sections:hover {
        text-decoration: none;
      }
    }
  }
  .sections-work {
    position: relative;
    display: block;
    height: 9vh;
    width: 100%;
    background-color: #530ABA;
    box-shadow: 1px 1px 10px 5px rgba(16, 2, 36, 0.4);
    
    a.marisaile {
      position: relative;
      display: block;
      left: 5%;
      font-family: 'Montez', cursive;
      font-size: 8vmin;
      color: #F0F1F3;
    }
    a.marisaile:hover {
      text-decoration: none;
    }
    .dropdown {
      position: relative;
      display: inline-block;
      top: -5.2vh;
      left: 36vw;
      font-family: 'Raleway', sans-serif;

      a.nav-work-sections {
        font-family: 'Raleway', sans-serif;
        font-size: 2.2vmin;
        color: #F0F1F3;
        margin-right: 9vw;
      }
      a.nav-work-sections:hover {
        text-decoration: none;
      }
    }
  }
}
body.override-bootstrap {
  margin: 0;
  background-color: #F0F1F3;

  .sections-work {
    position: relative;
    display: block;
    height: 9vh;
    width: 100%;
    background-color: #530ABA;
    box-shadow: 1px 1px 10px 5px rgba(16, 2, 36, 0.2);
    
    a.marisaile {
      position: relative;
      display: block;
      left: 5%;
      font-family: 'Montez', cursive;
      font-size: 8vmin;
      color: #F0F1F3;
    }
    a.marisaile:hover {
      text-decoration: none;
    }
    .dropdown {
      position: relative;
      display: inline-block;
      top: -5.2vh;
      left: 35vw;
      font-family: 'Raleway', sans-serif;

      a.nav-work-sections {
        font-family: 'Raleway', sans-serif;
        font-size: 2.2vmin;
        color: #F0F1F3;
        margin-right: 7vw;
      }
      a.nav-work-sections:hover {
        text-decoration: none;
      }
    }
  }
}

/*  #cloud {
    width: 260px; height: 90px;
    background: #fefefe;
    transition: rotateY(-30deg);
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    z-index: 1;
  }
  #cloud:after, #cloud:before {
    content: '';
    position: absolute;
    background: #fefefe;
    z-index: -1;
    transition: rotateY(-30deg);
  }
  #cloud:after {
    width: 75px; height: 75px;
    top: -35px; left: 25px;
    transition: rotateY(-30deg);
    
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
  }
  #cloud:before {
    width: 135px; height: 135px;
    top: -65px; right: 50px;
    transition: rotateY(-30deg);
    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
  }
*/


















