@import url(https://fonts.googleapis.com/css?family=Montez);
@import url(https://fonts.googleapis.com/css?family=Amita);

body.override-bootstrap {
  margin: 0;
  background-color: #f8f8f8;
}
.main-header.container-fluid {
  position: relative;
  display: block;
  width: 100%;
  height: 7vh;
  top: 0;
  left: 0;
  background-color: #383838;

  a.nav-stay {
    position: relative;
    display: inline-block;
    top: -5.5vh;
    margin-right: 3.5vw;
    font-family: 'Alice', serif;
    font-size: 2.3vmin;
    color: #eee;

    .marisaile {
      font-family: 'Montez', cursive;
      font-size: 6vmin;
      color: #eee;
      /*line-height: 50px;*/
      margin-right: 3vw;
    }
    .sub {
      position: relative;
      top: 7.5vh;
      left: 2.5vw;
      font-family: 'Alice', serif;
      font-size: 1.5vmin;
      color: #eee;
      /*line-height: 14px;*/
    }
  }  
  a.nav-stay:hover {
    text-decoration: none;
    color: #eee;
  }
}

/*  #cloud {
    width: 260px; height: 90px;
    background: #fefefe;
    transition: rotateY(-30deg);
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    z-index: 1;
  }
  #cloud:after, #cloud:before {
    content: '';
    position: absolute;
    background: #fefefe;
    z-index: -1;
    transition: rotateY(-30deg);
  }
  #cloud:after {
    width: 75px; height: 75px;
    top: -35px; left: 25px;
    transition: rotateY(-30deg);
    
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
  }
  #cloud:before {
    width: 135px; height: 135px;
    top: -65px; right: 50px;
    transition: rotateY(-30deg);
    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
  }
*/


















