.photo-search-title {
  position: relative;
  left: 125px;
  top: 25px;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  color: #212413;
}
.photo-search {
  position: relative;
  top: 50px;
  left: 125px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: #212413;
}
input.search-photo {
  position: relative;
  display: inline-block;
  top: 60px;
  left: 125px;
  width: 350px;
  background-color: #fff;
}
.btn.search-photos {
  position: relative;
  display: inline-block;
  width: 100px;
  top: 60px;
  left: 150px;
  background-color: #ff606e;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #fff;
}

.search-results {
  position: relative;
  display: block;
  top: 80px;
  left: 150px;
  .photo {
    width: 200px;
    height: 200px;
    margin: 10px;
    overflow: hidden;
    display: inline-block;
    img {
      width: 100%;
      height: inherit;
    }
  }
}

