@import url(https://fonts.googleapis.com/css?family=Prompt);
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Proza+Libre:400,500);

body.override-bootstrap {
  margin: 0;
  background-color: #fff;
}
.photo-search {
  position: relative;
  top: 25px;
  left: 25px;
  font-family: 'Prompt', cursive;
  font-size: 20px;
  color: #212413;
}
input.search-photo {
  position: relative;
  display: block;
  top: 30px;
  left: 25px;
  width: 400px;
  background-color: #fff;
}

.search-results {
  position: relative;
  display: block;
  margin: 50px auto;
  width: 90%;
  .photo {
    width: 200px;
    height: 200px;
    margin: 10px;
    overflow: hidden;
    display: inline-block;
    img {
      width: 100%;
      border: solid 1px #27042d;
    }
  }
}