
.photo-search {
  position: relative;
  top: 105px;
  left: 125px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: #190338;
}
input.search-photo {
  position: relative;
  display: inline-block;
  top: 110px;
  left: 125px;
  width: 350px;
  background-color: #fff;
}
.btn.search-photos {
  position: relative;
  display: inline-block;
  width: 100px;
  top: 110px;
  left: 150px;
  background-color: #F501FF;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #F0F1F3;
}

.search-results {
  position: relative;
  display: block;
  margin: 150px auto;
  width: 90%;
  .photo {
    width: 200px;
    height: 200px;
    margin: 10px;
    overflow: hidden;
    display: inline-block;
    img {
      width: 100%;
      height: inherit;
    }
  }
}