
@import url(https://fonts.googleapis.com/css?family=Sigmar+One);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.project-main {
  position: relative;
  display: block;
  width: 100%; 
  height: 700px;
}

.subheading h2 {
  position: absolute;
  top: 475px;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  color:  #120847;
  width: 100%;
  text-align: center;
}

.subheading p {
  position: absolute;
  top: 575px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #120847;
  width: 100%;
  text-align: center;
}

