@import url(https://fonts.googleapis.com/css?family=Carme);

.sidebar-container {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #120847;
}
.sidebar .news {
  position: absolute;
  top: 50px;
  width: 100%;
  font-family: "Carme";
  font-size: 20px;
  text-align: center;
  color: #BF9400;
}

.sidebar .news-p {
  position: absolute;
  top: 90px;
  width: 100%;
  font-family: "Carme";
  font-size: 18px;
  text-align: center;
  color: #BF9400;
}

.sidebar .community {
  position: absolute;
  top: 200px;
  width: 100%;
  font-family: "Carme";
  font-size: 20px;
  text-align: center;
  color: #BF9400;
}

.sidebar .community-p {
  position: absolute;
  top: 240px;
  width: 100%;
  margin-right: 10px;
  padding-right: 10px;
  font-family: "Carme";
  font-size: 18px;
  text-align: center;
  color: #BF9400;
}

.sidebar .fun-fact {
  position: absolute;
  top: 400px;
  width: 100%;
  font-family: "Carme";
  font-size: 20px;
  text-align: center;
  color: #BF9400;
}

.sidebar .fun-fact-p {
  position: absolute;
  top: 440px;
  width: 100%;
  font-family: "Carme";
  font-size: 18px;
  text-align: center;
  color: #BF9400;
}
