.project-header-image {
  position: absolute;
  top: -25px;
  left: 10px;
  width: 75px;
  border-radius: .8;
}

.project-header-image:hover {
  transform: rotateZ(375deg);
  transition: transform .5s;
}