@import url(https://fonts.googleapis.com/css?family=Carme);

.project-main {
  position: relative;
  display: block;
  width: 100%;  
}

.project-main-text h1 {
  position: absolute;
  top: 25px;
  font-family: "Carme";
  font-size: 30px;
  color: #053E75;
  width: 100%;
  text-align: center;
}

.project-main-text h2 {
  position: absolute;
  top: 500px;
  font-family: "Carme";
  font-size: 24px;
  color:  #053E75;
  width: 100%;
  text-align: center;
}

.project-main-text p {
  position: absolute;
  top: 550px;
  font-family: "Carme";
  font-size: 20px;
  color: #053e75;
  width: 100%;
  text-align: center;
}