.learn-menu {
  position: absolute;
  top: 65px;
  right: 5px;
  float: right;
  width: 500px;
}
.learn-menu li {
  margin-right: 30px;
  display: inline-block;
  list-style-image: none;
}
.learn-nav img {
  width: 50px;
  color: #120847;
}
