
.nav-menu ul {
  position: absolute;
  top: 45px;
  left: 10px;
  float: left;
}
.nav-menu li  {
  margin-right: 50px;
  font-family: Arial;
  font-size: 20px;
  display: inline-block;
  list-style-image: none;
}

.nav-menu a {
  color: #BF9400;
}
