@import url(https://fonts.googleapis.com/css?family=Sigmar+One);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);


.sidebar .fun-fact {
	position: absolute;
	top: 250px;
	font-family: "Sigmar One", cursive;
	font-size: 20px;
	text-align: right;
}
.sidebar .fun-fact-p {
	position: absolute;
	top: 300px;
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	text-align: right;
}