.side .news {
	position: absolute;
	top: 75px;
	font-family: "Sigmar One", cursive;
	font-size: 20px;
}

.side .news-p {
	position: absolute;
	top: 125px;
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
}

.side .community {
	position: absolute;
	top: 250px;
	font-family: "Sigmar One", cursive;
	font-size: 20px;
}

.side .community-p {
	position: absolute;
	top: 325px;
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
}
