@import url(https://fonts.googleapis.com/css?family=Sigmar+One);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.nav-menu ul {
  position: relative;
  top: 35px;
  right: 60px;
  float: right;
}

.nav-menu li {
  margin-right: 75px;
  display: inline-block;
  list-style-image: none;
}

.nav-menu a {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #120847;
  text-decoration: none;
}