

.project-main {
	position: relative;
  display: block;
  width: 100%;	
}


.project h1 {
  position: absolute;
  font-family: Arial;
  font-size: 30px;
  color: #053E75;
  top: 50px;
  left: 500px;
}

.main-text h2 {
  position: absolute;
  font-family: Arial;
  font-size: 24px;
  color:  #053E75;
  top: 500px;
}

.main-text p {
  position: absolute;
  font-family: Arial;
  font-size: 20px;
  color: #053e75;
  top: 550px;
  width: 750px;
}