.project-header-image {
  position: absolute;
  top: -25px;
  left: 10px;
  width: 50px;
  border-radius: .8;
}

.project-header-image:hover {
  transform: rotateY(360deg);
  transition: transform 1s;
}