/*color schemes
$dark-teal: #043836;
$normal-teal: #0a827c;   
$mauve: #ab827c;
$tangerine: #fa482e;
$honey-mustard: #f4a32e;  


$navy: #1a1334;
$cobalt: #26294a;
$blue-teal: #01545a;
$green-teal: #017351;
$seafoam: #03c383;
$pale-green: #aad962;
$goldenrod: #fbbf45;
$burnt-orange: #ef6a32;
$flamingo: #ed0345;
$purple-mauve: #a12a5e;
$fuschia: #710162;
$indigo: #110141;  

*/
            
           
           
            



      
       