@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(https://fonts.googleapis.com/css?family=Rock+Salt);
@import url(https://fonts.googleapis.com/css?family=Over+the+Rainbow);

.school-header {
  position: relative;
  width: 90%;
  height: 30px;
  margin: 50px auto;
  
  /*z-index: 0;*/
  background-color: #F5F4F5;
  border-bottom: solid 1px #8A8C8C;
  /*box-shadow: 0px 0px 5px 1px #8A8C8C;*/

  a.option  {
    display: inline-block;
    /*margin-bottom: 56px;*/
    font-family: 'Rock Salt', cursive;
    font-size: 2.25vmin;
    color: #323333; 
    margin-left: 2vw;
    margin-right: 1.5vw;
  }
}

.response-container {
  position: relative;
  display: block;
  width: 100%;

  ul.school-books-list {
    position: relative;
    display: block;
    top: 1.25vh;
    /*left: 10vw;*/
    list-style-type: none;

    li.school-books-item.col-md-5 {
      list-style-image: none;
      /*width: 40vw;*/
      /*margin-right: 10vw;*/
    } 
  }
  .book-container {
    position: relative;
    display: inline-block;
    width: 32vw;
    height: 32vh;
    /*margin-right: 10vw;*/
    margin-bottom: 3vh;
  
    img.book-image {
      position: relative;
      left: -2vw;
      top: 2.75vh;
      width: 8vw;
      /*height: 22vh;*/
      box-shadow: 0px 2px 2px 3px rgba(210, 214, 213, 0.8);
    }
    .title {
      position: relative;
      left: 7vw;
      top: -3vh;
      width: 25vw;
      font-family: 'Josefin Sans', sans-serif;
      font-size: 2.5vmin;
      color: #323333;
      text-align: left;
    }
    .author {
      position: relative;
      left: 7vw;
      top: -4vh;
      font-family: 'Josefin Sans', sans-serif;
      font-size: 2vmin;
      color: #323333;
      text-align: left;
      perspective: 500px;
      perspective-origin: 10% 25%;
    }
  }
  li .book-container:hover {
    background-color: #fff;
    box-shadow: 0px 2px 2px 1px rgba(210, 214, 213, 0.5);
    transform: translate3d(1px, 10px, 60px);
    transition: transform .5s;
  }
}
.notebook-paper {
  width: 40%;
  /*height: 80vh;*/
  background: linear-gradient(to bottom, white 29px, #00b0d7 1px);
  margin: 5vh auto;
  background-size: 100% 30px;
  position: relative;
  padding-top: 20vh;
  /*padding-left: 160px;*/
  padding-right: 20px;
  overflow: hidden;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,.2),0px 0px 6px rgba(0,0,0,.2);
  -moz-box-shadow: 3px 3px 3px rgba(0,0,0,.2),0px 0px 6px rgba(0,0,0,.2);
  -ms-box-shadow: 3px 3px 3px rgba(0,0,0,.2),0px 0px 6px rgba(0,0,0,.2);
  -o-box-shadow: 3px 3px 3px rgba(0,0,0,.2),0px 0px 6px rgba(0,0,0,.2);
  box-shadow: 3px 3px 3px rgba(0,0,0,.2),0px 0px 6px rgba(0,0,0,.2);
  &:before {
    content:'';
    display: block;
    position: absolute;
    z-index:1;
    top: 0;
    left: 5vw;
    height: 100%;
    width: 1px;
    background: #db4034;
  }
  .paper-title-line {
    height: 10vh;
    width: 100%;
    background: white;
    position: absolute;
    top: 0;
    left: 0;

    .books-header {
      position: relative;
      top: 2vh;
      left: 6vw;
      font-family: 'Rock Salt', cursive;
      font-size: 7vmin;
      color: #323333;
    }
  }
  .option {
    display: block;
    margin-bottom: 56px;
    font-family: 'Rock Salt', cursive;
    font-size: 3vmin;
    color: #323333;
    text-align: center;
  }
  .option:hover {
    text-decoration: none;
    color: #4B4C4D;
  }
}



/*.col-md-2.school-subject  {
  position: relative;
  display: block;
  top: 75px;
  left: 10px;
    
  .select.form-control.select-picker {
    position: relative;
    top: 50px;
    font-family: 'Josefin Sans', sans-serif;
    color: #383838;
    font-size: 18px;
    
    .option {
      position: relative;
      display: block;
      top: 320px;
      left: 25px;
      font-family: 'Josefin Sans', sans-serif;
      color: #383838;
      font-size: 16px;
    }
  }*/
  /*.suggest-book {
    position: relative;
    display: block;
    top: 100px;
    p {
      font-family: 'Josefin Sans', sans-serif;
      color: #383838;
      font-size: 18px;
      text-align: left;
    }
    .btn-default.btn-suggest {
      background-color: #00C9D6;
      color: #eee;
      font-family: 'Josefin Sans', sans-serif;
      font-size: 16px;
    }
    .suggestion-box {
      position: relative;
      display: none;
      height: 400px;
      width: 300px;
      background-color: #383838;
      border-radius: 5px;
      margin: 10px 0 10px -10px;
      padding: 10px;
      font-family: 'Josefin Sans', sans-serif;
      font-size: 16px;
      color: #eee;     
      
      label {
        margin-bottom: 0;
        margin-left: 25px;
      }
      .form-control {
        padding: 0;
        width: 225px;
        margin-bottom: 0;
        margin-left: 25px;
        background-color: #383838;
        font-size: 16px;
        color: #eee;
      }
      .btn-suggestion {
        background-color: #00C9D6;
        font-size: 16px;
        color: #eee;
        margin-left: 25px;
      }
    }
  }
  .thank-you {
    position: relative;
    display: none;
    height: 200px;
    width: 300px;
    border-radius: 10px;
    background-color: #00C9D6;
    padding: 20px;

  h3 {
    position: relative;
    color: #eee;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    text-align: center;
    }
  }
}*/


  /*.image-responsive {
    position: relative;
    display: inline;
    margin: 100px auto;
    width: 500px;
  }*/
  
/*li.books-back {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2vmin;
  color: black;
}
li.books-back:hover {
  text-decoration: none;
  color: grey;
}*/