@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(https://fonts.googleapis.com/css?family=Rock+Salt);
@import url(https://fonts.googleapis.com/css?family=Over+the+Rainbow);
@import url(https://fonts.googleapis.com/css?family=Yatra+One);
@import url(https://fonts.googleapis.com/css?family=Acme);
@import url(https://fonts.googleapis.com/css?family=Satisfy);
@import url(https://fonts.googleapis.com/css?family=Philosopher);
@import url(https://fonts.googleapis.com/css?family=Arima+Madurai);
@import url(https://fonts.googleapis.com/css?family=Cookie);
@import url(https://fonts.googleapis.com/css?family=Sacramento);
@import url(https://fonts.googleapis.com/css?family=Cherry+Cream+Soda);
@import url(https://fonts.googleapis.com/css?family=Jomhuria);

@media screen and (min-width: 1024px) {
  .school-header {
    position: relative;
    display: block;
    height: 50px; 
    
    .school-nav.row {
      position: fixed;
      top: 0;
      left: 0;
      margin: 0;
      padding-bottom: 0;
      width: 100%;
      height: 18vh;
      z-index: 1;
      background-color: #2CAB0B;
      box-shadow: 1px 1px 10px 1px #8A8C8C;
      
      h1 {
        display: relative;
        top: 5vmin;
        font-family: 'Jomhuria', serif;
        font-size: 10vmin;
        vertical-align: bottom;
        text-align: center;
        margin-bottom: 0;
        color: #F5F4F5;
      }
      h6 {
        font-family: 'Arima Madurai', cursive;
        font-size: 3vmin;
        margin-top: -10px;
        vertical-align: bottom;
        text-align: center;
        color: #F5F4F5;
      }
      a {
        display: none;
      }
    }
  }
  .school-main {
    position: relative;
    display: block;
    width: 100%;

    img.img-responsive.book-image {
      position: relative;
      width: 18vw;
      height: 39vh;
      border-radius: 4px;
    }
    .row {
      height: 30%;
      margin-top: 15vh;
      background: linear-gradient(#F5F4F5, #D8D8D8, #F5F4F5);
      transform: rotateX(30deg);
      
      h2 {
        position: relative;
        font-family: 'Montez', cursive;
        font-size: 6vmin;
        color: #363636;
        left: 7%;
        top: -2vh;
      }
    }
  }
  ul#menu {
    position: relative;
    padding: 0;
    margin: 0;
    left: 20%;
    -moz-perspective: 780px;
    -webkit-perspective: 780px;
    perspective: 780px;
    /*background-color: transparent;*/
  }

  ul#menu li a {
    display: block;
    width: 100%;
    height: 100%;
  }

  ul#menu li {
    text-indent: -9999px;
    position: relative;
    display: inline-block;
    width: 200px;
    height: 300px;
    margin-right: -70px;
    -moz-background-size: contain;
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;
    z-index: 50;
    -moz-transform: rotateY(45deg);
    -webkit-transform: rotateY(45deg);
    transform: rotateY(45deg);
    -moz-transition: all .45s;
    -webkit-transition: all .45s;
    transition: all .45s;
    opacity: 1;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.4), 0 0 30px rgba(0,0,0,0.2);
  }

  ul#menu li:last-child,
  ul#menu li:first-child { z-index: 45; }

  ul#menu li:nth-child(2),
  ul#menu li:nth-child(5) { z-index: 46; }

  ul#menu li:nth-child(3) { z-index: 51; }

  ul#menu li.highlighted {
    -moz-transform: rotateY(0deg) scale(1.2);
    -webkit-transform: rotateY(0deg) scale(1.2);
    transform: rotateY(0deg) scale(1.2);
    z-index: 55!important;
  }

  ul#menu .highlighted ~ li {
    -moz-transform: rotateY(-45deg);
    -webkit-transform: rotateY(-45deg);
    transform: rotateY(-45deg);
  }

  ul#menu li:hover,
  ul#menu li:first-child:hover,
  ul#menu li.highlighted ~ li:hover { z-index: 60!important; }

  ul#menu li:hover {
    -moz-transform: rotateY(0deg) scale(1.2);
    -webkit-transform: rotateY(0deg) scale(1.2);
    transform: rotateY(0deg) scale(1.2);
    opacity: 1;
  }

  ul#menu li:hover ~ li {
    -moz-transform: rotateY(-45deg);
    -webkit-transform: rotateY(-45deg);
    transform: rotateY(-45deg);
  }

  ul#menu:hover li:not(:hover) {
    -moz-transform: rotateY(45deg);
    -webkit-transform: rotateY(45deg);
    transform: rotateY(45deg);
  }

  ul#menu:hover li:hover ~ li {
    -moz-transform: rotateY(-45deg);
    -webkit-transform: rotateY(-45deg);
    transform: rotateY(-45deg);
  }

  ul#menu:not(:hover) li.highlighted { opacity: 1; }

  ul#menu li:after {
    content: "";
    width: 200px;
    height: 20px;
    background: rgba(255,255,255,.5);
    position: absolute;
    bottom: -20px;
    left: 0;
    -webkit-mask-image: -webkit-gradient(linear, left 10%, left bottom, from(rgba(0,0,0,.5)), to(rgba(0,0,0,0)));
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .school-header {
    position: relative;
    display: block;
    height: 60px; 
    
    .school-nav.row {
      position: fixed;
      top: 0;
      left: 0;
      margin: 0;
      padding-bottom: 0;
      width: 100%;
      height: 12vh;
      z-index: 1;
      background-color: #2CAB0B;
      box-shadow: 1px 1px 10px 1px #8A8C8C;
      
      h1 {
        display: relative;
        top: 50px;
        font-family: 'Jomhuria', serif;
        font-size: 75px;
        vertical-align: bottom;
        text-align: center;
        margin-bottom: 0;
        color: #F5F4F5;
      }
      h6 {
        font-family: 'Arima Madurai', cursive;
        font-size: 18px;
        margin-top: -10px;
        vertical-align: bottom;
        text-align: center;
        color: #F5F4F5;
      }
      a {
        display: none;
      }
    }
  }
  .school-main {
    position: relative;
    display: block;
    width: 100%;

    img.img-responsive.book-image {
      position: relative;
      width: 200px;
      height: 300px;
      border-radius: 4px;
    }
    .row {
      height: 30%;
      margin-top: 10px;
      background: linear-gradient(#F5F4F5, #D8D8D8, #F5F4F5);
      transform: rotateX(30deg);
      
      h2 {
        position: relative;
        font-family: 'Montez', cursive;
        font-size: 6vmin;
        color: #363636;
        left: 7%;
        top: -2vh;
      }
    }
  }
  ul#menu {
    position: relative;
    padding: 0;
    margin: 0;
    left: 5%;
    -moz-perspective: 780px;
    -webkit-perspective: 780px;
    perspective: 780px;
    background-color: transparent;
  }

  ul#menu li a {
    display: block;
    width: 100%;
    height: 100%;
  }

  ul#menu li {
    text-indent: -9999px;
    position: relative;
    display: inline-block;
    width: 200px;
    height: 300px;
    margin-right: -70px;
    -moz-background-size: contain;
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;
    z-index: 50;
    -moz-transform: rotateY(45deg);
    -webkit-transform: rotateY(45deg);
    transform: rotateY(45deg);
    -moz-transition: all .45s;
    -webkit-transition: all .45s;
    transition: all .45s;
    opacity: 1;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.4), 0 0 30px rgba(0,0,0,0.2);
  }

  ul#menu li:last-child,
  ul#menu li:first-child { z-index: 45; }

  ul#menu li:nth-child(2),
  ul#menu li:nth-child(5) { z-index: 46; }

  ul#menu li:nth-child(3) { z-index: 51; }

  ul#menu li.highlighted {
    -moz-transform: rotateY(0deg) scale(1.2);
    -webkit-transform: rotateY(0deg) scale(1.2);
    transform: rotateY(0deg) scale(1.2);
    z-index: 55!important;
  }

  ul#menu .highlighted ~ li {
    -moz-transform: rotateY(-45deg);
    -webkit-transform: rotateY(-45deg);
    transform: rotateY(-45deg);
  }

  ul#menu li:hover,
  ul#menu li:first-child:hover,
  ul#menu li.highlighted ~ li:hover { z-index: 60!important; }

  ul#menu li:hover {
    -moz-transform: rotateY(0deg) scale(1.2);
    -webkit-transform: rotateY(0deg) scale(1.2);
    transform: rotateY(0deg) scale(1.2);
    opacity: 1;
  }

  ul#menu li:hover ~ li {
    -moz-transform: rotateY(-45deg);
    -webkit-transform: rotateY(-45deg);
    transform: rotateY(-45deg);
  }

  ul#menu:hover li:not(:hover) {
    -moz-transform: rotateY(45deg);
    -webkit-transform: rotateY(45deg);
    transform: rotateY(45deg);
  }

  ul#menu:hover li:hover ~ li {
    -moz-transform: rotateY(-45deg);
    -webkit-transform: rotateY(-45deg);
    transform: rotateY(-45deg);
  }

  ul#menu:not(:hover) li.highlighted { opacity: 1; }

  ul#menu li:after {
    content: "";
    width: 200px;
    height: 20px;
    background: rgba(255,255,255,.5);
    position: absolute;
    bottom: -20px;
    left: 0;
    -webkit-mask-image: -webkit-gradient(linear, left 10%, left bottom, from(rgba(0,0,0,.5)), to(rgba(0,0,0,0)));
  }
}

@media screen and (min-width: 375px) and (max-width: 768px) {
  .school-header & .school-nav {
    position: absolute;
    display: block;
    background-color: #2CAB0B;
    margin: 0;
    width: 100%;
    height: 100%;

    h1 {
      display: block;
      width: 300px;
      margin: 35px auto;
      font-family: 'Jomhuria', serif;
      font-size: 120px;
      text-align: center;
      color: #F5F4F5;
    }
    h6 {
      display: block;
      font-family: 'Arima Madurai', cursive;
      font-size: 15px;
      text-align: center;
      color: #F5F4F5;
    }
/*    a {
      display: inline-flex;
      flex-flow: row wrap;
      justify-content: space-around;
      font-family: 'Montez', cursive;
      text-align: center;
      font-size: 15px;
      margin: 15px;
      color: #F5F4F5;
    }*/
  }
  .school-main {
    position: relative;
    display: block;
    width: 100%;
    top: 700px;

    img.img-responsive.book-image {
      position: relative;
      width: 350px;
      border-radius: 4px;
    }  
    h2 {
      position: relative;
      top: 75px;
      left: 15px;
      font-family: 'Montez', cursive;
      font-size: 50px;
      color: #363636;
    }
  }
  ul#menu {
    position: relative;
    top: 125px;
    margin: auto;
    list-style: none;
  }

  ul#menu li a {
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: 25px;
    list-style-image: none;
  }
}
  /*ul#menu li {
    text-indent: -9999px;
    position: relative;
    display: inline-block;
    width: 200px;
    height: 300px;
    margin-right: -70px;
    -moz-background-size: contain;
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;
    z-index: 50;*/
    /*-moz-transform: rotateY(45deg);
    -webkit-transform: rotateY(45deg);
    transform: rotateY(45deg);
    -moz-transition: all .45s;
    -webkit-transition: all .45s;
    transition: all .45s;
    opacity: 1;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.4), 0 0 30px rgba(0,0,0,0.2);*/


  /*ul#menu li:last-child,
  ul#menu li:first-child { z-index: 45; }

  ul#menu li:nth-child(2),
  ul#menu li:nth-child(5) { z-index: 46; }

  ul#menu li:nth-child(3) { z-index: 51; }

  ul#menu li.highlighted {
    -moz-transform: rotateY(0deg) scale(1.2);
    -webkit-transform: rotateY(0deg) scale(1.2);
    transform: rotateY(0deg) scale(1.2);
    z-index: 55!important;
  }

  ul#menu .highlighted ~ li {
    -moz-transform: rotateY(-45deg);
    -webkit-transform: rotateY(-45deg);
    transform: rotateY(-45deg);
  }

  ul#menu li:hover,
  ul#menu li:first-child:hover,
  ul#menu li.highlighted ~ li:hover { z-index: 60!important; }

  ul#menu li:hover {
    -moz-transform: rotateY(0deg) scale(1.2);
    -webkit-transform: rotateY(0deg) scale(1.2);
    transform: rotateY(0deg) scale(1.2);
    opacity: 1;
  }

  ul#menu li:hover ~ li {
    -moz-transform: rotateY(-45deg);
    -webkit-transform: rotateY(-45deg);
    transform: rotateY(-45deg);
  }

  ul#menu:hover li:not(:hover) {
    -moz-transform: rotateY(45deg);
    -webkit-transform: rotateY(45deg);
    transform: rotateY(45deg);
  }

  ul#menu:hover li:hover ~ li {
    -moz-transform: rotateY(-45deg);
    -webkit-transform: rotateY(-45deg);
    transform: rotateY(-45deg);
  }

  ul#menu:not(:hover) li.highlighted { opacity: 1; }

  ul#menu li:after {
    content: "";
    width: 200px;
    height: 20px;
    background: rgba(255,255,255,.5);
    position: absolute;
    bottom: -20px;
    left: 0;
    -webkit-mask-image: -webkit-gradient(linear, left 10%, left bottom, from(rgba(0,0,0,.5)), to(rgba(0,0,0,0)));
  }*/



/*  .school-books-item {
    position: relative;
    display: inline-block;
    margin: 125px 50px 75px 175px;
    perspective: 500px;
    perspective-origin: top;
    */

/*.landing {
  position: relative;
  display: block;
  width: 100%;

  .notebook-paper {
    position: relative;
    display: block;
    width: 40%;
    height: 100%;
    margin: 0 auto;

    background: linear-gradient(to bottom, white 29px, #00b0d7 1px);
    top: -130px;
    background-size: 100% 30px;
    position: relative;
    padding-top: 20vh;
    padding-right: 20px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0,0,0,.2),0px 0px 6px rgba(0,0,0,.2);
    &:before {
      content:'';
      display: block;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 125px;
      height: 100%;
      width: 1px;
      background: #db4034;
    }
    .paper-title-line {
      height: 100px;
      width: 100%;
      background: white;
      position: absolute;
      top: 0;
      left: 0;

      .books-header {
        position: relative;
        top: 2vh;
        left: 6vw;
        font-family: 'Rock Salt', cursive;
        font-size: 7vmin;
        color: #323333;
      }
    }
    .option {
      position: relative;
      display: block;
      margin-bottom: 56px;
      font-family: 'Rock Salt', cursive;
      font-size: 3vmin;
      left: 6vw;
      color: #323333;
    }
    .option:hover {
      text-decoration: none;
      color: #4B4C4D;
    }
  }
}
  /*.sticky-container {
    width: 320px;
    margin: -500px 1050px;  
  }
  .sticky {
    position:relative;
    width: 300px;
    height: 250px;
    background-color: #FFFF08;
    border: 1px solid #e3e3e3;
    padding: 50px;

    .sticky-text {
      display: block;
      font-family: 'Rock Salt', cursive;
      font-size: 16px;
      color: #323333;
      margin: auto;
      text-align: center;
    }
    .left-shadow{
      width: 140px;
      height: 140px;
      bottom: -5px; 
      left: -12px;
      position: absolute;
      z-index: -1;
      display: inline-block;
      -webkit-box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.4);
      box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.4);
      -moz-transform: scale(1) rotate(274deg) translate(20px, 25px) skew(9deg, 0deg);
      -webkit-transform: scale(1) rotate(274deg) translate(20px, 25px) skew(9deg, 0deg);
      -o-transform: scale(1) rotate(274deg) translate(20px, 25px) skew(9deg, 0deg);
      -ms-transform: scale(1) rotate(274deg) translate(20px, 25px) skew(9deg, 0deg);
      transform: scale(1) rotate(274deg) translate(20px, 25px) skew(9deg, 0deg);
    }
    .right-shadow{
      width: 140px;
      height: 140px;
      bottom: -13px; 
      right: -4px;
      position: absolute;
      z-index: -1;
      display: inline-block;
      -webkit-box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.4);
      box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.4);
      -moz-transform: scale(1) rotate(184deg) translate(20px, 25px) skew(9deg, 0deg);
      -webkit-transform: scale(1) rotate(184deg) translate(20px, 25px) skew(9deg, 0deg);
      -o-transform: scale(1) rotate(184deg) translate(20px, 25px) skew(9deg, 0deg);
      -ms-transform: scale(1) rotate(184deg) translate(20px, 25px) skew(9deg, 0deg);
      transform: scale(1) rotate(184deg) translate(20px, 25px) skew(9deg, 0deg);
    }
  }
  .tape{
    position: absolute;
    top: -15px; 
    right: 80px;
    width: 130px;
    height: 35px;
    background-color: #fff;
    opacity: 0.6;
    border-left: 1px dashed rgba(0, 0, 0, 0.1);
    border-right: 1px dashed rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 1px 0px #cccccc;
    -moz-box-shadow: 0px 0px 1px 0px #cccccc;
    box-shadow: 0px 0px 1px 0px #cccccc;
    -webkit-transform: rotate(-2deg) skew(0,0) translate(0%,-5px);
    -moz-transform: rotate(-2deg) skew(0,0) translate(0%,-5px);
    -o-transform: rotate(-2deg) skew(0,0) translate(0%,-5px);
    transform: rotate(-2deg) skew(0,0) translate(0%,-5px);
  }*/

/*.suggest-book {
  position: relative;
  display: block;
  margin: 100px auto;
  width: 500px;
  height: 600px;
  background-color: #FFF;


  form.book-suggestion {
    position: relative;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    color: #323333;
    width: 400px;
    margin: auto;
    top: 75px;
  }
}
.thank-you.hidden {
  display: none;
}
.thank-you {
  display: block;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  color: #323333;
}*/

    /*.book-container {
      width: 87%;
      margin-left: 180px;
      margin-bottom: 50px;
      margin-right: 40px;
      transition: transform .5s;
  
      
      .title {
        position: relative;
        left: 130px;
        top: -50px;
        width: 80%;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 18px;
        color: #323333;
        text-align: left;
      }
      .author {
        position: relative;
        left: 130px;
        top: -50px;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 16px;
        color: #323333;
        text-align: left;
      }
    }*/










