@import url(https://fonts.googleapis.com/css?family=Taviraj);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);

.timer-main {
  background-color: #aaa;

  .stopwatch-container {
    position: relative;
    display: block;
    margin: 100px auto;
    padding: 20px;
    height: 600px;
    width: 400px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 2px 2px 2px;

    .stopwatch .time {
      position: relative;
      display: block;
      left: 25%;
      font-family: 'Taviraj', serif;
      font-size: 64px;
    }
    .stopwatch .controls {
      margin: -1.5vh 1.5vw;

      .toggle {
        position: relative;
        display: inline-block;
        width: 7vw;
        font-family: 'Taviraj', serif;
        font-size: 3vmin;
        color: #fff;
        background-color: #28CC1D;
        text-align: center;
      }
      .reset {
        position: relative;
        display: inline-block;
        width: 7vw;
        font-family: 'Taviraj', serif;
        font-size: 3vmin;
        color: #fff;
        background-color: #FF2D2C;
        text-align: center;
      }
      .split {
        position: relative;
        display: inline-block;
        width: 7vw;
        font-family: 'Taviraj', serif;
        font-size: 3vmin;
        color: #fff;
        background-color: #0D2CF8;
        text-align: center;
      }
    }
  }
  .cum-time {
    position: relative;
    float: left;
    width: 160px;
    height: 400px;
    top: 30px;
    margin-right: 10px;
    font-family: 'Taviraj', serif;
    font-size: 20px;
    line-height: 20px;
  }
  .ind-time {
    position: relative;
    float: right;
    width: 160px;
    height: 400px;
    top: 30px;
    font-family: 'Taviraj', serif;
    font-size: 20px;
    line-height: 20px;
  }
}