@import url(https://fonts.googleapis.com/css?family=Taviraj);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(https://fonts.googleapis.com/css?family=Cutive+Mono);

.timer-main {
  background-color: #555;

  .stopwatch-container {
    position: relative;
    display: block;
    margin: 100px auto;
    padding: 20px;
    height: 1024px;
    width: 768px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 2px 2px 2px;

    .cum-counter {
      position: relative;
      font-family: 'Cutive Mono', monospace;
      font-size: 50px;
      left: 20px;
    }
    .split-counter {
      position: relative;
      font-family: 'Cutive Mono', monospace;
      font-size: 50px;
      left: 20px;
    }
    .btn.start-stop-button {
      position: relative;
      display: inline-block;
      padding: 0;
      height: 110px;
      width: 110px;
      margin: 20px;
      left: 150px;
      font-family: 'Josefin Sans', sans-serif;
      font-size: 30px;
      text-align: center;
      background-color: #01C700;
      color: #fff;
     }
    .btn.start-stop-button:focus {
      outline: none;
    }
    .btn.split-button {
      position: relative;
      display: inline-block;
      padding: 0;
      height: 110px;
      width: 110px;
      margin: 20px;
      left: 300px;
      font-family: 'Josefin Sans', sans-serif;
      font-size: 30px;
      text-align: center;
      background-color: #720EFF;
      color: #fff;
    }
    .btn.split-button:focus {
      outline: none;
    }
    .reset-button {
      position: relative;
      display: inline-block;
      left: 350px;
      top: -200px;
      font-family: 'Josefin Sans', sans-serif;
      font-size: 20px;
    }  
    .container.times {
      position: relative;
      display: block;
      font-family: 'Cutive Mono', monospace;
      font-size: 25px;
      width: 90%;
      height: 60%;
      border: solid 1px black;
      overflow-y: scroll;
    }
  }
}
