@import url(https://fonts.googleapis.com/css?family=Lato);

.main-todo {
  margin: 5px auto;
  width: 500px;
  height: 100%;
}
.todo-container {
  margin: 5px auto;
  margin-top: 125px;
  width: 400px;
}
.form-control.inuput-name {
  background-color: #eee;
}
#todo-title {
  font-family: 'Lato';
  font-size: 30px;
  color: #383838;
  font-weight: 400;
}
.add-todo-container {
  margin-bottom: 10px;
}
.add-todo-container .col-md-10 {
  padding-left: 0;
}
.add-todo-container .col-md-2 {
  padding-right: 0;
  text-align: right;

  .btn.btn-add-todo {
    background-color: #D12BC4;
    color: #eee;
  }
}