@import url(https://fonts.googleapis.com/css?family=Prompt);
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Amita);
@import url(https://fonts.googleapis.com/css?family=Prompt);

body.override-bootstrap {
  margin: 0;
  background-color: #e4e3e8;
}
.main-todo {
  margin: 5px auto;
  width: 500px;
  height: 100%;
}
.todo-container {
  margin: 5px auto;
  margin-top: 125px;
  width: 400px;
}
.form-control.inuput-name {
  background-color: #f4f3f8;
}
#todo-title {
  font-family: 'Prompt';
  font-size: 30px;
  color: #212413;
  font-weight: 400;
}
.add-todo-container {
  margin-bottom: 10px;
}
.add-todo-container .col-md-10 {
  padding-left: 0;
}
.add-todo-container .col-md-2 {
  padding-right: 0;
  text-align: right;
}