@import url(https://fonts.googleapis.com/css?family=Taviraj);

.no-bootstrap {
  background-color: #888;

  .vdt-container {
    position: relative;
    display: block;
    margin: 100px auto;
    padding: 20px;
    height: 668px;
    width: 1024px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 2px 2px 2px;

    h1 {
      font-family: 'Taviraj', serif;
      font-size: 50px;
      text-align: center;
    }
    h2 {
      position: relative;
      top: 50px;
      font-family: 'Taviraj', serif;
      font-size: 30px;
      text-align: center;
    }
    .btn-start {
      position: relative;
      top: 150px;
      left: 450px;
      width: 100px;
      font-family: 'Taviraj', serif;
      font-size: 20px;
    }
  }
}
.vdt-image-container {
  position: relative;
  display: block;
  margin: 150px auto;
  padding: 20px;
  height: 668px;
  width: 1024px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 2px 2px 2px;

  h1 {
    font-family: 'Taviraj', serif;
    font-size: 30px;
    line-height: 150px;
  }

  .vdt-image {
    position: relative;
    display: inline-block;
    margin: 25px;
    height: 275px;
    width: 450px;
    box-shadow: 2px 2px 2px;
  }
}
