@import url(https://fonts.googleapis.com/css?family=Taviraj);

.no-bootstrap {
  background-color: #888;

  .table-container {
    position: relative;
    margin: 20px auto;
    height: 400px;
    width: 400px;
    border: 2px solid black;
  }
  /* .pf-table {
    height: 100%;
    width: 100%;
  } */
  .row {
    height: 25%;
    width: 100%;
  }
  .circle {
    margin: auto;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: 2px solid black;
  }
}
