body.word-association {
  margin: 0;
  background-color: #222;
}
.wa-container {
  position: relative;
  display: block;
  margin: auto;
  height: 1024px;
  width: 768px;
  background-color: #eee;

  .word-container {
    position: relative;
    display: block;
    margin: auto;
    height: 400px;
    width: 200px;
  
    .word {
      position: relative;
      display: block;
      top: 150px;
      height: 100px;
      width: 200px;
      font-family: 'Taviraj', serif;
      font-size: 50px;
      color: #222;
      text-align: center;
    }
    .response {
      position: relative;
      top: 150px;
      height: 75px;
      width: 200px;
      border: 1px solid #222;
      font-family: 'Taviraj', serif;
      font-size: 30px;
      color: #eee;
      text-align: center;
      line-height: 75px;
      background-color: #222;
    }
    .response:focus {
      outline: none;
    }
  }
  .next-word {
    position: relative;
    display: block;
    left: 620px;
    top: 200px;
    width: 120px;
    height: 60px;
    background-color: #eee;
    color: #222;
    font-family: 'Taviraj', serif;
    font-size: 20px;
  }
  .sig-response {
    position: relative;
    display: block;
    top: 200px;
    left: 20px;
    font-family: 'Taviraj', serif;
    font-size: 20px;
    color: #222;
  }
}
