body.word-association {
  margin: 0;
  background-color: #222;
}
.wa-container {
  position: relative;
  display: block;
  margin: auto;
  height: 1024px;
  width: 768px;
  background-color: #eee;

  h1 {
    position: relative;
    display: block;
    top: 50px;
    text-align: center;
    font-family: 'David Libre', sans-serif;
    font-size: 50px;
  }

  .word-container {
    position: relative;
    display: block;
    margin: auto;
    height: 400px;
    width: 200px;
  
    .word {
      position: relative;
      display: block;
      top: 200px;
      height: 100px;
      width: 200px;
      font-family: 'David Libre', serif;
      font-size: 50px;
      color: #222;
      text-align: center;
    }
    .response {
      position: relative;
      display: block;
      top: 150px;
      height: 75px;
      width: 200px;
      font-family: 'David Libre', sans-serif;
      font-size: 30px;
      color: #222;
      text-align: center;
      line-height: 75px;
    }
  }
  .sig-yes {
    position: relative;
    display: inline-block;
    left: 75px;
    width: 225px;
    height: 75px;
    background-color: #eee;
    color: #222;
    font-family: 'David Libre', sans-serif;
    font-size: 25px;
    background-color: #0EFCFF;
  }
  .sig-yes:hover {
    background-color: #0EFCFF;
  }
  .sig-yes:focus {
    outline: none;
    background-color: #0EFCFF;
  }
  .sig-no {
    position: relative;
    display: inline-block;
    left: 225px;
    width: 225px;
    height: 75px;
    background-color: #eee;
    color: #222;
    font-family: 'David Libre', sans-serif;
    font-size: 25px;
    background-color: #FF6735;
  }
  .sig-no:hover {
    background-color: #FF6735;
  }
  .sig-no:focus {
    outline: none;
    background-color: #FF6735;
  }
  .sig-response {
    position: relative;
    display: block;
    top: 450px;
    left: 20px;
    font-family: 'David Libre', serif;
    font-size: 25px;
    color: #222;
  }
}
