.writing-prompts {
	position: relative;
	display: block;
	left: 19%;
	z-index: 0;


	h1.get-started {
		position: relative;
		left: 40%;
		top: 10vh;
		font-family: 'Raleway', sans-serif;
		font-size: 50px;
	}
}
