<div class="about-landing">
	<h2 class="dalquest-mission">Mission Statement</h2>
	<p class="ddrs-mission-statement">
		It is the desire of MSU that the property be used by scientists, naturalists, and educators for generations to come.
	</p>
	<div class="ddrs-purchase">
		The Dalquest Desert Research Station (DDRS) is located in west Texas (see map) on the Presidio/Brewster County line, north of and adjoining the Big Bend Ranch State Park. The site contains 1,200 hectares (3,000 acres) and was a gift from the late Dr. Walter W. Dalquest and his wife, Rose. Walt came to Midwestern State University in 1952 and retired from full time service in 1984. Dr. Dalquest was one of the most productive scholars in the history of Midwestern. He produced 180 scientific publications, and he continued to work part-time until his death in 2000.
	</div>
	<div class="ddrs-naturalist">
		To a naturalist the DDRS experience is a dream come true. The majority of the site has had little human influence; in fact, the property owner prior to Dr. Dalquest fenced the canyon lands to keep cattle from getting into the area. The site is one of the few areas within the Chihuahuan Desert that has not been overgrazed. 
	</div>
	<h4 class="about-sections">Sections</h4>
	<a href="" role="menuitem" class="about-history">History</a>
	<a href="" role="menuitem" class="about-bio">Biological Signifiance</a>
	<a href="" role="menuitem" class="about-geo">Geological Significance</a>
</div>
<div class="dalquest-history">
	<!-- <img src="/images/ddrs/27.jpg" class="img-responsive about-image" alt="Responsive image"> -->	
</div>
<div class="dalquest-bio">
	
</div>
<div class="dalquest-geo">
	
</div>