<div class="english-lit-container"
  <ul class="english-books-list">
    <li class="row rakoff">
      <div class="col-md-4 title">Love, Dishonor, Marry, Die, Cherish, Perish</div>
      <div class="col-md-4 autor">David Rakoff</div>
    </li>
    <li class="row dillard">
      <div class="col-md-4 title">The Writing Life</div>
      <div class="col-md-4 autor">Annie Dillard</div>
    </li>
    <li class="row kundera">
      <div class="col-md-4 title">The Unbearable Lightness of Being</div>
      <div class="col-md-4 autor">Milan Kundera</div>
    </li>
    <li class="row rich">
      <div class="col-md-4 title">In Search of a Common Language</div>
      <div class="col-md-4 autor">Adrienne Rich</div>
    </li>
    <li class="row blount">
      <div class="col-md-4 title">Alphabet Juice</div>
      <div class="col-md-4 autor">Roy Blount, Jr.</div>
    </li>
    <li class="row keillor">
      <div class="col-md-4 title">Lake Wobegon Summer 1956</div>
      <div class="col-md-4 autor">Garrison Keillor</div>
    </li>
  </ul>
</div>

