<div class="glasses">
  <h2>Eye Dominance</h2>
  <h4>Examinees wearing glasses should be given the test either with or without glasses, whicever is more natural to them. Do not test both ways.</h4>
    <div class="radio">
      <label>
        <input type="checkbox" name="optionsRadios" id="optionsRadios1" value="option1" checked>
        Wearing glasses
      </label>
    </div>
    <p>If yes, then:</p>
    <div class="radio">
      <label>
        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
        Worn for test
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
        Not worn for test
      </label>
    </div>
  </div>
</div>