<div class="response-container">
  <ul class="history-books-list">
    <li class="row schiff">
      <div class="col-md-4 title">Cleopatra: A Life</div>
      <div class="col-md-4 autor">Stacy Schiff</div>
    </li>
    <li class="row holton">
      <div class="col-md-4 title">Abigail Adams: A Life</div>
      <div class="col-md-4 autor">Woody Holton</div>
    </li>
    <li class="row albright">
      <div class="col-md-4 title">Prague Winter</div>
      <div class="col-md-4 autor">Madeleine Albright</div>
    </li>
    <li class="row stein">
      <div class="col-md-4 title">The Triangle Fire</div>
      <div class="col-md-4 autor">Leon Stein</div>
    </li>
    <li class="row whitfield">
      <div class="col-md-4 title">A Death in the Delta: The Story of Emmett Till</div>
      <div class="col-md-4 autor">Stephen Whitfield</div>
    </li>
    <li class="row dandicat">
      <div class="col-md-4 title">Brother, I'm Dying</div>
      <div class="col-md-4 autor">Barbara Kingsolver</div>
    </li>
    <li class="row chernow">
      <div class="col-md-4 title">Alexander Hamilton</div>
      <div class="col-md-4 autor">Ron Chernow</div>
    </li>
    <li class="row kearns-goodwin">
      <div class="col-md-4 title">Team of Rivals: The Political Genius of Abraham Lincoln</div>
      <div class="col-md-4 autor">Doris Kearns-Goodwin</div>
    </li>
    <li class="row vowell">
      <div class="col-md-4 title">Lafeyette in the Somewhat United States</div>
      <div class="col-md-4 autor">Sarah Vowell</div>
    </li>
    <li class="row achebe">
      <div class="col-md-4 title">Things Fall Apart</div>
      <div class="col-md-4 autor">Chinua Achebe</div>
    </li>
    <li class="row kingsolver">
      <div class="col-md-4 title">The Poisonwood Bible</div>
      <div class="col-md-4 autor">Barbara Kingsolver</div>
    </li>
    <li class="row clark">
      <div class="col-md-4 title">The Sleepwalkers: How Europ Went to War in 1914</div>
      <div class="col-md-4 autor">Christopher Munro Clark</div>
    </li>
    <li class="row stewart">
      <div class="col-md-4 title">America: The Book</div>
      <div class="col-md-4 autor">Jon Stewart</div>
    </li>
  </ul>
</div>

