
<section class="portfolio-landing">  
  <div class="header-logo">
    <a href="" class="marisaile" role="menuitem">Marisaile<!-- <span>Junior Frontend Developer</span> --></a>
  </div>    
  <hr class="horizontal-line">
  <div class="sections">
    <a href="#" class="nav-sections bio">Bio</a>
    <a href="#" class="nav-sections projects">Projects</a>
    <a href="/images/junior_dev_resume.pdf" target="new" class="nav-sections resume">Resume</a>
  </div>
</section>
<section class="portfolio-bio">
  <h1 class="bio-about">About Me</h1>
  <p class="bio-content">
    My name is Lisa Cook, and I recently completed a 12-week Javascript bootcamp at Davinci Coders in Westminster, CO. I've used the skills I acquired to build a specialized stopwatch application for my current company, help out with updating the NAMI Denver website, and pursue some of my own personal projects. 
</section>
<section class="portfolio-contact"> 
  <div class="contact-links">
    <a href="https://github.com/marisaile" target="new" class="contact">github</a>
    <a href="http://codepen.io/marisaile/" target="new" class="contact">codepen</a>
    <a href="https://www.linkedin.com/in/lisa-cook-93ba2115?trk=hp-identity-name" target="new" class="contact">linkedin</a>
  </div>
</section>     
<!-- <section class="portfolio-work">  
  <div class="work-main">
    <h1 class="work-title">My Work</h1>
    <div class="item breakout">Breakout Game</div>
    <div class="item funny-squares">Funny Squares</div>
    <div class="item joc-2012">Johnson O'Connor Website</div>
    <div class="item joc-timer">Johnson O'Connor Stopwatch App</div>
    <div class="item todo">Todo App</div>
    <div class="item writing-prompts">Writing Prompts Generator</div>
  </div>
</section> -->