
<section class="portfolio-landing">  
  <div class="header-logo">
    <a href="" class="marisaile" role="menuitem">Marisaile<!-- <span>Junior Frontend Developer</span> --></a>
  </div>    
  <hr class="horizontal-line">
  <div class="sections">
    <a href="#" class="nav-sections bio">Bio</a>
    <a href="#" class="nav-sections projects">Projects</a>
    <a href="/images/lcook_resume.pdf" target="new" class="nav-sections resume">Resume</a>
  </div>
</section>
<section class="portfolio-bio">
  <h1 class="bio-about">About Me</h1>
  <p class="bio-content">
    Hi! I'm Lisa, and I recently finished a 12-week Javascript bootcamp at Davinci Coders in Westminster, CO. Since completing the course I've worked on a few projects for my current organization, the Johnson O'Connor Research Foundation, pursued a few projects of my own just for fun, and am currently volunteering with NAMI Denver to help out with updating their website. I've also been known to dabble a bit in Swift and Python.
  </p>
</section> 
<section class="portfolio-contact">
  <div class="contact-links">
    <a href="https://github.com/marisaile" target="new" class="contact">github</a>
    <a href="http://codepen.io/marisaile/" target="new" class="contact">codepen</a>
    <a href="https://www.linkedin.com/in/lisa-cook-93ba2115?trk=hp-identity-name" target="new" class="contact">linkedin</a>
  </div>
</section>
<section class="portfolio-work">
  <div class="work-main">
    <h1 class="work-title">Some things I've made</h1>
    <div class="work-pages-nav">
      <a href="/pages/photoSearch.html" class="photo-search grow">Photo Search</a>
      <a href="/pages/writingPrompts.html" class="writing grow">Writing Prompts Generator</a>
      <a href="/pages/funnySquares.html" class="funny-squares grow">Funny Squares</a>
      <a href="/pages/jocPage.html" class="joc grow">JOCRF Unsolicited Redesign</a>
      <a href="/pages/todo.html" class="todo grow">Todo App</a>
      <a href="/pages/scattergoriesGame.html" class="joc grow">Scattergories Game</a> 
    </div>
    <a href="#" class="back-to-top">
      <i class="fa fa-angle-up page-up" style="font-size:24px"></i> back to top
    </a> 
  </div>
</section>

