<div class="laterality-container">
  <h1>Laterality</h1>
  <div class="eye">
    <h2>Eye Dominance</h2>
    <h4>Examinees wearing glasses should be given the test either with or without glasses, whicever is more natural to them. Do not test both ways.</h4>
    <div class="radio">
      <label>
        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
        Wearing glasses
      </label>
    </div>
    <p>If yes, then:</p>
    <div class="radio">
      <label>
        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
        Worn for test
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
        Not worn for test
      </label>
    </div>
  </div>
  <div class="checkbox">
  <label>
    <input type="checkbox" value="">
    Left
  </label>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" value="">
     Right
  </label>
</div>
  <div class="checkbox">
  <label>
    <input type="checkbox" value="">
     Neither/Can't tell
  </label>
</div>
</div>