<div class="container-fluid main-header">
  <div class="row">
    <div class="col-md-2"><a class="nav" role="menuitem" href="/server/view.ejs">Lisa</a></div>
    <div class="col-md-2"><a class="nav" role="menuitem" href="/pages/todo.html">Todo Application</a></div>
    <div class="col-md-2"><a class="nav" role="menuitem" href="/pages/funnySquares.html">Funny Squares</a></div>
    <div class="col-md-2"><a class="nav" role="menuitem" href="/pages/photoSearch.html">Photo Search</a></div>  
    <div class="col-md-2"><a class="nav" role="menuitem" href="/pages/probablyNothing.html">School</a></div>
    <div class="col-md-2"><a class="nav" role="menuitem" href="/pages/books.html">Book Tracker</a></div>
  </div>
</div>
      <!-- <li class="school-nav">
        <a role="menuitem" href="/pages/probablyNothing.html">School</a>
      </li> -->
      