<nav class="main-nav-container">
  <h1>
    <a href="/server/view.ejs">Lisa</a>
  </h1>
  <ul>
    <li class="todo-nav">
      <a role="menuitem" href="/pages/todo.html">Todo Application</a>
    </li>
    <!-- <li class="project-nav">
      <a role="menuitem" href="/pages/projectHome.html">My Project</a>
    </li> -->
    <li class="funny-squares-nav">
      <a role="menuitem" href="/pages/funnySquares.html">Funny Squares</a>
    </li>
    <!-- <li class="jS-timer-nav">
      <a role="menuitem" href="/pages/timer.html">Timer</a>
    </li> -->
    <li class="backbone-forms-nav">
      <a role="menuitem" href="/pages/formsBackbone.html">Backbone Forms</a>
    </li>
    <li class="photo-search-nav">
      <a role="menuitem" href="/pages/photoSearch.html">Photo Search</a>
    </li>
    <li class="book-club-nav">
      <a role="menuitem" href="/pages/books.html">Book Tracker</a>
    </li>
  </ul>
</nav>