<body class="override-bootstrap"></body>
  <div id = "cloud">
    <h1 class="marisaile">Marisaile</h1>
    <p class="sub">front-end developer</p>
  </div>
</div>

<!-- <div class="poisonwood-container">
  <p class="poisonwood">
    God is everything, then. God is a virus. Believe that, when you get a cold. God is an ant. Believe that, too, for driver ants are possessed, collectively, of the size and influence of a Biblical plague. Now I understand, God is not just rooting for the dollies. We and our vermin all blossomed together out of the same humid soil in the Great Rift Valley, and so far no one is really winning. Five million years is a long partnership. If you could for a moment rise up out of your own beloved skin and appraise ant, human, and virus as equally resourceful beings, you might admire the accord they have all struck in Africa. “A toad can die of light! Death is the common rights of toads and men! Why swagger then? My colleagues accuse me of cynicism, but I am simply a victim of poetry. I have committed to memory the common rights of toads and men. I could not swagger if I tried. I don’t have the legs for it. 
  </p>
</div>
 -->
<!-- <div class="goldfinch-container">
  <div class="goldfinch">
    If your deepest self is singing and coaxing you straight toward the bonfire, is it better to turn away? Stop your ears with wax? Ignore all the perverse glory your heart is screaming at you? Set yourself on the course that will lead you dutifully towards the norm, reasonable hours and regular medical checkups, stable relationships and steady career advancement, the New York Times and brunch on Sunday, all with the promise of being a better person? Or… is it better to throw yourself head first and laughing into the holy rage calling your name?
  </div>
</div>

<div class="goldfinch2">
  And as much as I’d like to believe there’s a truth beyond illusion, I’ve come to believe that there’s no truth beyond illusion. Because, between ‘reality’ on the one hand, and the point where the mind strikes reality, there’s a middle zone, a rainbow edge where beauty comes into being, where two very different surfaces mingle and blur to provide what life does not: and this is the space where all art exists, and all magic.

  And - I would argue as well - all love…. And just as music is the space between notes, just as the stars are beautiful because of the space between them, just as the sun strikes raindrops at a certain angle and throws a prism of color across the sky - so the space where I exist, and want to keep existing, … is exactly this middle distance: where despair struck pure otherness and created something sublime. 
</div>
<div class="goldfinch3"> 
  And in the midst of our dying, as we rise from the organic and sink back ignominiously into the organic, it is a glory and a privilege to love what Death doesn’t touch.
</div>
<div class="tinkers-container"></div>
<div class="tinkers">
  Because they are like tiles loose in a frame, with just enough space so they can all keep moving around, even if it’s only a few at a time and in one place, so that it doesn’t seem like they are moving, but the empty space between the and that empty space is the space that is missing, the last several pieces of colored glass, and when those pieces are in place, that will be the final picture in the arrangement. But it doesn’t stop; it simply ends. It is a final pattern scattered without so much as a pause at the end, at the end of what, at the end of this.
</div>

<div class="garrison-container"></div>
<div class="garrison">
  You get old and you realize there are no answers, just stories.
</div>
<div class="pilgrim-container"></div>
<div class="pilgrim">
  The answer must be, I think, that beauty and grace are performed whether or not we will or sense them. The least we can do is try to be there.
</div>
<div class="dillard-container"></div>
<div class="dillard">
  What do I make of all this texture? What does it mean about the kind of world in which I have been set down? The texture of the world, its filigree and scrollwork, means that there is the possibility for beauty here, a beauty inexhaustible in its complexity, which opens to my knock, which answers in me a call I do not remember calling, and which trains me to the wild and extravagant nature of the spirit I seek.
</div> -->