<div class="nav-items col-md-10 col-md-offset-2">
  <a class="nav" role="menuitem" href="/server/view.ejs">Home</a>
  <a class="nav" role="menuitem" href="/pages/todo.html">To Do App</a>
  <a class="nav" role="menuitem" href="/pages/photoSearch.html">Photo Search</a>
  <a class="nav" role="menuitem" href="/pages/schoolBooks.html">School</a>
  <a class="nav" role="menuitem" href="/pages/books.html">Book Tracker</a>
  <a class="nav" role="menuitem" href="/pages/d3.html">d3 Chart</a>
  <a class="nav" role="menuitem" href="/pages/funnySquares.html">Funny Squares</a>
</div> 
<div id="cloud">
  <h1 class="marisaile">Marisaile</h1>
  <p class="sub">front-end developer</p>
</div> 








