
  <a class="home" role="menuitem" href="/server/view.ejs">  
    <div class="col-md-2" id="cloud">
      <h1 class="marisaile">Marisaile</h1>
      <p class="sub">front-end developer</p>
    </div> 
  </a>
  <div class="nav-items col-md-10 col-md-offset-2">  
    <a class="nav" role="menuitem" href="/pages/todo.html">To Do App</a>
    <a class="nav" role="menuitem" href="/pages/photoSearch.html">Photo Search</a>
    <a class="nav" role="menuitem" href="/pages/schoolBooks.html">School</a>
    <a class="nav" role="menuitem" href="/pages/books.html">Book Tracker</a>
    <a class="nav" role="menuitem" href="/pages/d3.html">d3 Chart</a>
    <a class="nav" role="menuitem" href="/pages/funnySquares.html">Funny Squares</a>
    <a class="nav" role="menuitem" href="/pages/three.html">THREE Animation</a>
    <a class="nav" role="menuitem" href="/pages/timer.html">Timer</a>
  </div>






