<ol class="breadcrumb">
  <li class="breadcrumb books-back"><a href="#">back</a></li>
</ol>
<ul class="school-books-list">
  <li class="book-container">
    <a href="https://www.goodreads.com/book/show/13588394-the-signal-and-the-noise?ac=1&from_search=true" target="new"><img class="book-image" src="/images/books/silver.png"></a>
    <div class="title">The Signal and the Noise</div>
    <div class="author">Nate Silver</div>
  </li>
  <li class="book-container">
    <a href="https://www.goodreads.com/book/show/5060378-the-girl-who-played-with-fire?from_search=true&search_version=service" target="new"><img class="book-image" src="/images/books/girl.png"></a>
    <div class="title">The Girl who Played with Fire</div>
    <div class="author">Stieg Larsson</div>
  </li>
  <li class="book-container">
    <a href="https://www.goodreads.com/book/show/1301.Moneyball" target="new"><img class="book-image" src="/images/books/moneyball.png"></a>
    <div class="title">Moneyball</div>
    <div class="author">Michael Lewis</div>
  </li>
  <li class="book-container">
    <a href="https://www.goodreads.com/book/show/3181564-the-housekeeper-and-the-professor?ac=1&from_search=true" target="new"><img class="book-image" src="/images/books/ogawa.png"></a>
    <div class="title">The Housekeeper and the Professor</div>
    <div class="author">Yogo Ogawa; translated by Stephen Snyder</div>
  </li>
  <li class="book-container">
    <a href="https://www.goodreads.com/book/show/6463967-the-big-short" target="new"><img class="book-image" src="/images/books/bigshort.png"></a>
    <div class="title">The Big Short</div>
    <div class="author">Michael Lewis</div>
  </li>
  <li class="book-container">
    <a href="https://www.goodreads.com/book/show/17986418-naked-statistics?from_search=true&search_version=service" target="new"><img class="book-image" src="/images/books/naked.png"></a>
    <div class="title">Naked Statistics</div>
    <div class="author">Charles Wheelan</div>
  </li>    
</ul>

