<div class="math-books-container">
  <ul class="math-books-list">
    <li class="row larsson">
      <div class="col-md-4 title">The Girl who Played with Fire</div>
      <div class="col-md-4 autor">Stieg Larsson</div>
    </li>
    <li class="row silver">
      <div class="col-md-4 title">The Signal and the Noise</div>
      <div class="col-md-4 autor">Nate Silver</div>
    </li>
    <li class="row wheelan">
      <div class="col-md-4 title">Naked Statistics</div>
      <div class="col-md-4 autor">Charles Wheelan</div>
    </li>

  </ul>
</div> 
