
<div class="row">
  <div class="col-md-12 no-books">
    <div class="col-md-4 col-md-offset-4">
      <h1>No books yet! Stay tuned...</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="school-animations col-md-1">
    <img src="/images/school/abacus.png">
  </div>
  <div class="school-animations col-md-1">
    <img src="/images/school/books.png">
  </div>
  <div class="school-animations col-md-1">
     <img src="/images/school/microscope.png">
  </div>
  <div class="school-animations col-md-1">
    <img src="/images/school/desk.png">
  </div>
  <div class="school-animations col-md-1">
    <img src="/images/school/notebook.png">
  </div>
  <div class="school-animations col-md-1">
    <img src="/images/school/chemistry.png">
  </div>
  <div class="school-animations col-md-1">
    <img src="/images/school/bookshelf.png">
  </div>
  <div class="school-animations col-md-1">
    <img src="/images/school/science.png">
  </div>
  <div class="school-animations col-md-1">
    <img src="/images/school/earth-globe.png">
  </div>
  <div class="school-animations col-md-1">
    <img src="/images/school/computer.png">
  </div>
  <div class="school-animations col-md-1">
    <img src="/images/school/calculator.png">
  </div>
  <div class="school-animations col-md-1">
    <img src="/images/school/paint-palette.png">
  </div>
</div>


  
  
 


    
    
    


  
  
  

