<div class="observation">
    <h1 class="test-name">Observation</h1>
    <h5 class="form-number">744 CA</h5>
    <button class="btn btn-default reset-button">Reset</button>
    <div class="cum-counter">Cumulative Time:  .00</div>
    <div class="split-counter">Individual Time:  .00</div>  
    <button class="btn btn-default start-stop-button">Start</button>
    <button class="btn btn-default misc-button">Study</button>
    <div class="item-container"></div>
    <div class="score">Score = </div>
    <button class="create-csv">Export data</button>
</div>