 <div class="response-container">
  <ul class="polisci-books-list">
    <li class="row rakoff">
      <div class="col-md-4 title">Notes on Democracy</div>
      <div class="col-md-4 autor">HL Mencken</div>
    </li>
    <li class="row paine">
      <div class="col-md-4 title">Common Sense</div>
      <div class="col-md-4 autor">Thomas Paine</div>
    </li>
    <li class="row paine">
      <div class="col-md-4 title">Common Sense</div>
      <div class="col-md-4 autor">Thomas Paine</div>
    </li>
    <li class="row wallis">
      <div class="col-md-4 title">Gods Politics</div>
      <div class="col-md-4 autor">Jim Wallis</div>
    </li>
    <li class="row brokaw">
      <div class="col-md-4 title">The Greatest Generation</div>
      <div class="col-md-4 autor">Tom Brokaw</div>
    </li>
    <li class="row erenreich">
      <div class="col-md-4 title">Nickel and Dimed</div>
      <div class="col-md-4 autor">Barbarah Erenreich</div>
    </li>
    <li class="row obama">
      <div class="col-md-4 title">The Audacity of Hope</div>
      <div class="col-md-4 autor">Barack Obama</div>
    </li>
    <li class="row coates">
      <div class="col-md-4 title">Between the World and Me</div>
      <div class="col-md-4 autor">Ta Nehisi Coates</div>
    </li>
    <li class="row hosseini">
      <div class="col-md-4 title">The Kite Runner</div>
      <div class="col-md-4 autor">Khaled Hosseini</div>
    </li>
    <li class="row malala">
      <div class="col-md-4 title">I am Malala</div>
      <div class="col-md-4 autor">Malala Yousafzai</div>
    </li>
    <li class="row gay">
      <div class="col-md-4 title">Bad Feminist</div>
      <div class="col-md-4 autor">Roxanne Gay</div>
    </li>
    <li class="row krakauer">
      <div class="col-md-4 title">Where Men Win Glory</div>
      <div class="col-md-4 autor">Jon Krakauer</div>
    </li>
     <li class="row eggers">
      <div class="col-md-4 title">What is the What</div>
      <div class="col-md-4 autor">Dave Eggers</div>
    </li>
     <li class="row muhammad">
      <div class="col-md-4 title">The Condemnation of Blackness: Race, Crime, and the Making of Modern Urban America</div>
      <div class="col-md-4 autor">Khalil Gibran Muhammad</div>
    </li>
     <li class="row cullen">
      <div class="col-md-4 title">Columbine</div>
      <div class="col-md-4 autor">Dave Cullen</div>
    </li>
  </ul>
</div>
