
  <ul class="school-books-list">
    <li class="col-md-6 book-container">
      <a href="https://www.goodreads.com/book/show/17851885-i-am-malala?from_search=true&search_version=service" target="new"><img class="book-image" src="/images/books/malala.png"></a>
      <div class="title">I am Malala</div>
      <div class="author">Malala Yousafzai</div>
    </li>
    <li class="col-md-6 book-container">
      <a href="https://www.goodreads.com/book/show/9742.The_Audacity_of_Hope?ac=1&from_search=true" target="new"><img class="book-image" src="/images/books/barack.png"></a>
      <div class="title">The Audacity of Hope</div>
      <div class="author">Barack Obama</div>
    </li>
    <li class="col-md-6 book-container">
      <a href="https://www.goodreads.com/book/show/25489625-between-the-world-and-me?from_search=true&search_version=service" target="new"><img class="book-image" src="/images/books/coates.png"></a>
      <div class="title">Between the World and Me</div>
      <div class="author">Ta Nehisi Coates</div>
    </li>
    <li class="col-md-6 book-container">
      <a href="https://www.goodreads.com/book/show/1869.Nickel_and_Dimed?from_search=true&search_version=service" target="new"><img class="book-image" src="/images/books/nickel.png"></a>
      <div class="title">Nickel and Dimed: On (not) Getting By in America</div>
      <div class="author">Barbarah Erenreich</div>
    </li>
    <li class="col-md-6 book-container">
      <a href="https://www.goodreads.com/book/show/4952.What_is_the_What?from_search=true&search_version=service" target="new"><img class="book-image" src="/images/books/what.png"></a>
      <div class="title">What is the What</div>
      <div class="author">Dave Eggers</div>
    </li>
    <li class="col-md-6 book-container">
      <a href="https://www.goodreads.com/book/show/18813642-bad-feminist?from_search=true&search_version=service" target="new"><img class="book-image" src="/images/books/feminist.png"></a>
      <div class="title">Bad Feminist</div>
      <div class="author">Roxanne Gay</div>
    </li>
    <li class="col-md-6 book-container">
      <a href="https://www.goodreads.com/book/show/32987.The_Greatest_Generation?from_search=true&search_version=service" target="new"><img class="book-image" src="/images/books/brokaw.png"></a>
      <div class="title">The Greatest Generation</div>
      <div class="author">Tom Brokaw</div>
    </li>
    <li class="col-md-6 book-container">
      <a href="https://www.goodreads.com/book/show/2936415-where-men-win-glory?ac=1&from_search=true" target="new"><img class="book-image" src="/images/books/tillman.png"></a>
      <div class="title">Where Men Win Glory</div>
      <div class="author">Jon Krakauer</div>
    </li>
    <li class="col-md-6 book-container">
      <a href="https://www.goodreads.com/book/show/5632446-columbine?from_search=true&search_version=service" target="new"><img class="book-image" src="/images/books/columbine.png"></a>
      <div class="title">Columbine</div>
      <div class="author">Dave Cullen</div>
    </li>
  </ul>

