
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="nav-menu">
        <ul>
          <li class="nav-list">
            <a role="menuitem" href="#">Learn</a>
          </li>
          <li class="nav-list">
            <a role="menuitem" href="#">Visit</a>
          </li>
          <li class="nav-list">
            <a role="menuitem" href="#">Blog</a>
          </li>
          <li class="nav-list">
            <a role="menuitem" href="#">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

