<div class="container-fluid project-container">
  <div class="row">
    <div class="col-md-12">
      <ul class="learn-menu">
        <li class="learn-nav crocodile">
          <a href="#"><img src="/images/crocodile-facing-right.svg"></a>
        </li>
        <li class="learn-nav lizard">
          <a href="#"><img src="/images/curved-lizard.svg"></a>
        </li>
        <li class="learn-nav frog">
          <img src="/images/icon.svg">  
        </li>
        <li class="learn-nav turtle">
          <img src="/images/sea-turtle.svg">
        </li>
        <li class="learn-nav snake">
          <img src="/images/snake-facing-right.svg">
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
    	<div id="home-carousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#home-carousel" data-slide-to="1"></li>
        <li data-target="#home-carousel" data-slide-to="2"></li>
        <li data-target="#home-carousel" data-slide-to="3"></li>
        <li data-target="#home-carousel" data-slide-to="4"></li>
        <li data-target="#home-carousel" data-slide-to="5"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="/images/carousel/frogs/amused-frog.jpg" alt="amused frog">
        </div>
        <div class="item">
          <img src="/images/carousel/turtles/red-sea-turtle.jpg" alt="red-sea-turtle">
        </div>
        <div class="item">
          <img src="/images/carousel/lizards/blue-iguana.jpg" alt="blue iguana">
        </div>
        <div class="item">
          <img src="/images/carousel/snakes/green-snake.jpg" alt="snake coiled around tree branch">
        </div>
        <div class="item">
          <img src="/images/carousel/turtles/basking-turtle.jpg" alt="basking turtle">
        </div>
        <div class="item">
          <img src="/images/carousel/frogs/red-eyed-frog.jpg" alt="red eyed frog">
        </div>
      </div>
    </div>
      <!-- Controls -->
      <a class="left carousel-control" href="#home-carousel" role="button" data-slide="prev">
        <span class="icon-prev" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#home-carousel" role="button" data-slide="next">
        <span class="icon-next" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div class="col-md-2 col-md-offset-3 sidebar">
    <h4 class="fun-fact">Did you know...?</h4>
      <p class="fun-fact-p">A herpetologist is a scientist who studies reptiles and amphibians. The word "herpetology" comes from the Greek "herpien", which means "to creep"!</p>
    </div>
  </div>
</div>
