
<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-md-12">
       <div class="heading">
        <h1>Herpetarium</h1>
      </div>
      <div class="nav-menu">
        <ul>
          <li class="nav-list learn">
            <a role="menuitem" href="#">Visit</a>
          </li>
          <li class="nav-list">
            <a role="menuitem" href="#">Learn</a>
          </li>
          <li class="nav-list">
            <a role="menuitem" href="#">Blog</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-md-12">
      <div class="learn-menu">
        <ul>
          <li class="learn-nav">
            <a role="menuitem" href="#"><img src="/images/crocodile-facing-right.svg"></a>   
          </li>
          <li class="learn-nav">
            <a role="menuitem" href="#"><img src="/images/curved-lizard.svg"></a>   
          </li>
          <li class="learn-nav">
            <a role="menuitem" href="#"><img src="/images/icon.svg"></a>   
          </li>
          <li class="learn-nav">
            <a role="menuitem" href="#"><img src="/images/sea-turtle.svg"></a>   
          </li>
          <li class="learn-nav">
            <a role="menuitem" href="#"><img src="/images/snake-facing-right.svg"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

