<div class="col-md-2 sidebar-container">
  <div class="sidebar">
    <h3 class="news">Coming Soon</h3>
      <p class="news-p">Serpentarium!</p>
    <h4 class="community">Herp News</h4>
      <p class="community-p">New lizard species discovered in West Texas: Solastella cookei</p>
    <h4 class="fun-fact">Did you know...?</h4>
      <p class="fun-fact-p">A herpetologist is a scientist who studies reptiles and amphibians. The word "herpetology" comes from the Greek "herpien", which means "to creep". So herpetology means "the study of creepy-crawlers"!</p>
  </div>
</div>



