<div class="learn-menu">
  <ul>
    <li class="learn-nav">
      <a role="menuitem" href="#">
        <img class="crocodile" src="/images/crocodile-facing-right.svg">
      </a>   
    </li>
    <li class="learn-nav">
      <a role="menuitem" href="#">
        <img class="lizard" src="/images/curved-lizard.svg">
      </a>
    </li>
    <li class="learn-nav">
      <a role="menuitem" href="#">
        <img class="frog" src="/images/icon.svg">
      </a>   
    </li>
    <li class="learn-nav">
      <a role="menuitem" href="#">
        <img class="turtle" src="/images/sea-turtle.svg">
      </a>
    </li>
    <li class="learn-nav">
      <a role="menuitem" href="#">
        <img class="snake" src="/images/snake-facing-right.svg">
      </a>
    </li>
  </ul>
</div>
