
<div class="container-fluid">
  <div class="row">
    <div class="col-md-10">
      <nav class="footer-nav">
        <ul>
          <li>
            <a role = "menuitem" href="#">Careers</a>
          </li>
          <li>
            <a role="menuitem" href="#">Copyright 2016</a>
          </li>
          <li>
            <a role="menuitem" href="#">Lisa M, inc.</a>
          </li>
          <li>
            <a role="menuitem" href="#">Herp community</a>
          </li>
        </ul>
      </nav>
      <div class="col-md-2 sidebar-color-container"> </div>
    </div>
  </div>
</div>

