<div class="header-container">
  <h1>Herpetarium</h1>
  <ul class="nav-menu">
    <li class="nav-list">
      <a role="menuitem" href="#">Visit</a>
    </li>
    <li class="nav-list learn">
      <a role="menuitem" href="#">Learn</a>
    </li>
    <li class="nav-list">
      <a role="menuitem" href="#">Blog</a>
    </li>
  </ul>
  <ul class="learn-menu">
    <li class="learn-nav crocodile">
      <a href="#"><img src="/images/crocodile-facing-right.svg"></a>
    </li>
    <li class="learn-nav lizard">
      <a href="#"><img src="/images/curved-lizard.svg"></a>
    </li>
    <li class="learn-nav frog">
      <img src="/images/icon.svg">  
    </li>
    <li class="learn-nav turtle">
      <img src="/images/sea-turtle.svg">
    </li>
    <li class="learn-nav snake">
      <img src="/images/snake-facing-right.svg">
    </li>
  </ul>
</div>

