<div class="response-container">
  <ul class="psyh-books-list">
    <li class="row fernyhough">
      <div class="col-md-4 title">1000 Days of Wonder: A Scientist's Chronice of His Daughter's Developing Mind</div>
      <div class="col-md-4 autor">Charles Fernyhough</div>
    </li>
    <li class="row hull">
      <div class="col-md-4 title">The Peter Principle</div>
      <div class="col-md-4 autor">Raymond Hull</div>
    </li>
    <li class="row buffett">
      <div class="col-md-4 title">Life is What You Make It</div>
      <div class="col-md-4 autor">Peter Buffett</div>
    </li>
    <li class="row kahneman">
      <div class="col-md-4 title">Thinking, Fast and Slow</div>
      <div class="col-md-4 autor">Daniel Kahneman</div>
    </li>
    <li class="row sacks">
      <div class="col-md-4 title">The Man Who Mistook His Wife for a Hat</div>
      <div class="col-md-4 autor">Oliver Sacks</div>
    </li>
    <li class="row hawkins">
      <div class="col-md-4 title">On Intelligence</div>
      <div class="col-md-4 autor">Jeff Hawkins</div>
    </li>
    <li class="row percy">
      <div class="col-md-4 title">The Second Coming</div>
      <div class="col-md-4 autor">Walker Percy</div>
    </li>
    <li class="row marchant">
      <div class="col-md-4 title">Cure: A Journey into the Science of Mind over Body</div>
      <div class="col-md-4 autor">Jo Marchant</div>
    </li>
    <li class="row gilman">
      <div class="col-md-4 title">The Yellow Wallpaper</div>
      <div class="col-md-4 autor">Charlotte Perkins Gilman</div>
    </li>
  </ul>
</div>
