
<ul class="school-books-list">
  <div class="row">
    <li class="col-md-4 book-container">
      <a href="https://www.goodreads.com/book/show/1290957.The_Collapsing_Universe?ac=1&from_search=true" target="new"><img class="book-image" src="/images/books/asimov.png"></a>
      <div class="title">The Collapsing Universe</div>
      <div class="author">Isaac Asimov</div>
    </li>
    <li class="col-md-4 book-container">
      <a href="https://www.goodreads.com/book/show/125286.The_Beak_of_the_Finch?from_search=true&search_version=service" target="new"><img class="book-image" src="/images/books/beak.png"></a>
      <div class="title">The Beak of the Finch</div>
      <div class="author">Jonathan Weiner</div>
    </li>
    <li class="col-md-4 book-container">
      <a href="https://www.goodreads.com/book/show/5958783-why-does-e-mc?ac=1&from_search=true" target="new"><img class="book-image" src="/images/books/cox.png"></a>
      <div class="title">Why Does e=mc<sup>2</sup>? (and why should we care?)</div>
      <div class="author">Brian Cox and Jeff Forshaw</div>
    </li>
  </div>
  
  <div class="row">
  <li class="col-md-4 book-container">
      <a href="https://www.goodreads.com/book/show/9449985-the-clockwork-universe?ac=1&from_search=true" target="new"><img class="book-image" src="/images/books/dolnick.png"></a>
      <div class="title">The Clockwork Universe</div>
      <div class="author">Edward Dolnick</div>
    </li>
    <li class="col-md-4 book-container">
      <a href="https://www.goodreads.com/book/show/22435.The_Fabric_of_the_Cosmos?ac=1&from_search=true" target="new"><img class="book-image" src="/images/books/cosmos.png"></a>
      <div class="title">The Fabric of the Cosmos</div>
      <div class="author">Brian Greene</div>
    </li>
    <li class="col-md-4 book-container">
      <a href="https://www.goodreads.com/book/show/18007564-the-martian?from_search=true&search_version=service" target="new"><img class="book-image" src="/images/books/martian.png"></a>
      <div class="title">The Martian</div>
      <div class="author">Andy Weir</div>
    </li>
  </div>
  
  <div class="row">
    <li class="col-md-4 book-container">
      <a href="https://www.goodreads.com/book/show/11543794-better-than-human?ac=1&from_search=true" target="new"><img class="book-image" src="/images/books/human.png"></a>
      <div class="title">Better Than Human</div>
      <div class="author">Allen Buchannan</div>
    </li>
    <li class="col-md-4 book-container">
      <a href="https://www.goodreads.com/book/show/20696006-being-mortal?ac=1&from_search=true" target="new"><img class="book-image" src="/images/books/atul.png"></a>
      <div class="title">Being Mortal</div>
      <div class="author">Atul Gawande</div>
    </li>
    <li class="col-md-4 book-container">
      <a href="https://www.goodreads.com/book/show/9800229-the-disappearing-spoon" target="new"><img class="book-image" src="/images/books/spoon.png"></a>
      <div class="title">The Disappearing Spoon</div>
      <div class="author">Sam Kean</div>
    </li>
  </div>
  
  <div class="row">
    <li class="col-md-4 book-container">
      <a href="https://www.goodreads.com/book/show/17978489-the-future-of-the-mind?ac=1&from_search=true" target="new"><img class="book-image" src="/images/books/futuremind.png"></a>
      <div class="title">The Future of the Mind</div>
      <div class="author">Michio Kaku</div>
    </li>
    <li class="col-md-4 book-container">
      <a href="https://www.goodreads.com/book/show/17910054-the-sixth-extinction?ac=1&from_search=true" target="new"><img class="book-image" src="/images/books/extinction.png"></a>
      <div class="title">The Sixth Extinction</div>
      <div class="author">Elizabeth Kolbert</div>
    </li>
    <li class="col-md-4 book-container">
      <a href="https://www.goodreads.com/book/show/30192493-are-we-smart-enough-to-know-how-smart-animals-are" target="new"><img class="book-image" src="/images/books/animals.png"></a>
      <div class="title">Are we Smart Enough to Know How Smart Animals Are?</div>
      <div class="author">Frans DeWaal</div>
    </li>
  </div>
</ul>
