<div class="response-container">
  <ul class="science-books-list">
    <li class="row asimov">
      <div class="col-md-4">The Collapsing Universe</div>
      <div class="col-md-4">Isaac Asimov</div>
    </li>
    <li class="row weiner">
      <div class="col-md-4 title">The Beak of the Finch: A Story of Evolution in Our Time</div>
      <div class="col-md-4 author">Jonathan Weiner</div>
    </li>
    <li class="row cox">
      <div class="col-md-4 title">Wy Does e=mc<sup>2</sup>? (and why should we care?)</div>
      <div class="col-md-4 author">Brian Cox and Jeff Forshaw</div>
    </li>
    <li class="row asimov">
      <div class="col-md-4 title">The Clockwork Universe</div>
      <div class="col-md-4 author">Edward Dolnick</div>
    </li>
    <li class="row collins">
      <div class="col-md-4 title">The Language of God: A Scientist Presents Evidence for Belief</div>
      <div class="col-md-4 author">Francis Collins</div>
    </li>
    <li class="row greene">
      <div class="col-md-4 title">The Fabric of the Cosmos</div>
      <div class="col-md-4 author">Brian Greene</div>
    </li>
    <li class="row dawkins">
      <div class="col-md-4 title">The Blind Watchmaker</div>
      <div class="col-md-4 author">Richard Dawkins</div>
    </li>
    <li class="row weir">
      <div class="col-md-4 title">The Martian</div>
      <div class="col-md-4 author">Andy Weir</div>
    </li>
    <li class="row strassman">
      <div class="col-md-4 title">DMT: The Spirit Molecule</div>
      <div class="col-md-4 author">Rick Strassman</div>
    </li>
    <li class="buchannan">
      <div class="col-md-4 title">Better Than Human: The Promise and Perils of Enhancing Ourselves</div>
      <div class="col-md-4 author">Allen Buchannan</div>
    </li>
    <li class="row gawande">
      <div class="col-md-4 title">Being Mortal: Medicine and What Matters in the End</div>
      <div class="col-md-4 author">Atul Gawande</div>
    </li>
  </ul>
</div>