
<section class="portfolio-work">
  <div class="work-header">
    <a href="/server/view.ejs" class="header-marisaile" role="menuitem">Marisaile</a>
    <a href="/images/junior_dev_resume.pdf" target="new" class="header-nav-sections resume">Resume</a>
  </div>  
  <div class="work-main">
    <h1 class="work-title">A few things I've made...</h1>
    <a href="/pages/breakout.html" class="breakout grow">Simple 2D Breakout Game</a>
    <a href="/pages/writingPrompts.html" class="writing grow">Writing Prompts Generator</a>
    <a href="/pages/todo.html" class="todo grow">Todo App</a>
    <a href="/pages/joc2012.html" class="joc grow">Johnson O'Connor Work</a>           
    </div>
</section>


