<section class="sections-work">
  <a href="/server/view.ejs" class="marisaile" role="menuitem">Marisaile</a>
  <div class="dropdown davinci-dropdown" >
    <a href="/pages/davinci.html" class="nav-work-sections" role="menuitem" data-toggle="dropdown">Davinci Coders Projects</a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="/pages/photoSearch.html">Photo Search</a></li>
      <li><a href="/pages/todo.html">Todo App</a></li>
      <li><a href="/pages/funnySquares.html">Funny Squares</a></li>
      <li><a href="/pages/schoolBooks.html">School Books</a></li>
    </ul>
  </div>
  <div class="dropdown personal-dropdown">
    <a href="/pages/personal.html" class="nav-work-sections" role="menuitem" data-toggle="dropdown">Personal Projects</a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="#">NAMI Denver</a></li>
      <li><a href="/pages/dalquest.html">Dalquest Desert Research Station</a></li>
      <li><a href="/pages/breakout.html">Breakout</a></li>
    </ul>
  </div>
  <div class="dropdown work-dropdown">
    <a href="/pages/work.html" class="nav-work-sections" role="menuitem" data-toggle="dropdown">JOC Projects</a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="/pages/joc2012.html">Web Design</a></li>
      <li><a href="/pages/jocTimer.html">Stopwatch App</a></li>
    </ul>
  </div>  
</section>
<!-- <section class="projects">
  <h1 class="davinci">Davinci Coders Bootcamp Projects</h1>
  <div class="davinci-projects">
    <a href="#" class="photo-search">Photo Search</a>
    <a href="#" class="todo-app">Todo App</a>
    <a href="#" class="school-books">School Books</a>
  </div>
  <h1 class="personal">Personal Projects</h1>
  <div class="personal-projects">  
    <a class="dalquest"></a>
    <a class="breakout"></a>
    <a class="scattergories"></a>
  </div>
  <h1 class="work">Work/Volunteer Projects</h1>
  <div class="work-projects">
    <a class="joc2012"></a>
    <a class="jocTimer"></a>
    <a class="nami"></a>
  </div>
</section>
 -->

