@import url(https://fonts.googleapis.com/css?family=Montez);@import url(https://fonts.googleapis.com/css?family=Taviraj);@import url(https://fonts.googleapis.com/css?family=Prompt);@import url(https://fonts.googleapis.com/css?family=Lato);@import url(https://fonts.googleapis.com/css?family=Proza+Libre:400,500);@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);@import url(https://fonts.googleapis.com/css?family=Rock+Salt);@import url(https://fonts.googleapis.com/css?family=Over+the+Rainbow);/*  body.landing-page {
    margin: 0;
    background-color: #720EFF;

    .nav-items {
      position: relative;
      display: block;
      width: 85vw;
      height: 85vh;
      margin: 5vh auto;
      text-align: center;
    
      a.landing-nav {
        display: inline-block;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 30px;
        color: #FFFEFF;
        margin: 5vw; 
      }
      a.landing-nav:hover {
        text-decoration: none;
        color: #323333;
      }
    }
  }
  .cloud {
    width: 350px; height: 120px;
    
    background: #f2f9fe;
    background: linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
    background: -webkit-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
    background: -moz-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
    background: -ms-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
    background: -o-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
    
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    
    position: relative;
    margin: 120px auto 20px;

    a.marisaile {
      display: block;
      font-family: 'Montez', cursive;
      font-size: 6vmin;
      color: #FFFEFF;
      /*line-height: 50px;*/
/*margin-right: 6vw;
      margin-left: 4vw;

      span {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1vmin;
        color: #FFFEFF;
      }
      span:hover {
        text-decoration: none;
        color: #323333;
      }
    }
    a.marisaile:hover {
      text-decoration: none;
      color: #323333;
    }
  }

  .cloud:after, .cloud:before {
    content: '';
    position: absolute;
    background: #f2f9fe;
    z-index: -1
  }

  .cloud:after {
    width: 100px; height: 100px;
    top: -50px; left: 50px;
    
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
  }

  .cloud:before {
    width: 180px; height: 180px;
    top: -90px; right: 50px;
    
    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
  }
    

      




*/
body.override-bootstrap {
  margin: 0;
  background-color: #F5F4F5;
}

.main-header.container-fluid {
  position: relative;
  display: block;
  width: 100%;
  height: 7vh;
  top: 0;
  left: 0;
  background-color: #720EFF;
  box-shadow: 1px 1px 10px 1px #8A8C8C;
}

.main-header.container-fluid a.nav-stay {
  position: relative;
  display: inline-block;
  /* top: -5.5vh;*/
  margin-right: 4vw;
  font-family: 'Taviraj', serif;
  font-size: 2.3vmin;
  color: #FFFEFF;
}

.main-header.container-fluid a.nav-stay:hover {
  text-decoration: none;
  color: #323333;
}

.main-header.container-fluid a.marisaile {
  font-family: 'Montez', cursive;
  font-size: 6vmin;
  color: #FFFEFF;
  /*line-height: 50px;*/
  margin-right: 6vw;
  margin-left: 4vw;
}

.main-header.container-fluid a.marisaile:hover {
  text-decoration: none;
  color: #323333;
}

/*  #cloud {
    width: 260px; height: 90px;
    background: #fefefe;
    transition: rotateY(-30deg);
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    z-index: 1;
  }
  #cloud:after, #cloud:before {
    content: '';
    position: absolute;
    background: #fefefe;
    z-index: -1;
    transition: rotateY(-30deg);
  }
  #cloud:after {
    width: 75px; height: 75px;
    top: -35px; left: 25px;
    transition: rotateY(-30deg);
    
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
  }
  #cloud:before {
    width: 135px; height: 135px;
    top: -65px; right: 50px;
    transition: rotateY(-30deg);
    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
  }
*/
.main-todo {
  margin: 5px auto;
  width: 500px;
  height: 100%;
}

.todo-container {
  margin: 5px auto;
  margin-top: 125px;
  width: 400px;
}

.form-control.inuput-name {
  background-color: #eee;
}

#todo-title {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
  color: #323333;
  font-weight: 700;
}

.add-todo-container {
  margin-bottom: 10px;
}

.add-todo-container .col-md-10 {
  padding-left: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  color: #323333;
}

.add-todo-container .col-md-2 {
  padding-right: 0;
  text-align: right;
}

.add-todo-container .col-md-2 .btn.btn-add-todo {
  background-color: #F501FF;
  color: #FFFEFF;
}

.square-container {
  position: relative;
  display: inline-block;
  top: 150px;
  left: 330px;
  perspective: 500px;
}

.square {
  height: 100px;
  width: 100px;
  margin-right: 30px;
  background-color: #F501FF;
  text-align: center;
  vertical-align: middle;
  font-family: arial;
  font-size: 42px;
  line-height: 100px;
  transform: none;
  transition: transform .5s;
  color: #FFFEFF;
  font-family: 'Josefin Sans', sans-serif;
}

.shadow-container {
  position: relative;
  display: inline-block;
  top: 150px;
  left: 245px;
  perspective: 250px;
}

.shadow:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 100px 50px #8A8C8C;
  transition: all 0.5s;
  opacity: .25;
  transform: rotateX(95deg) translateZ(-80px) scale(0.75);
  transform-origin: bottom;
}

.square1:hover {
  transform: skewY(45deg);
  transition: transform .5s;
}

.square2:hover {
  transform: rotate(720deg);
  transition: transform .5s;
}

.square3:hover {
  transform: scale(0.8, 0.5);
  transition: transform .5s;
}

.square4:hover {
  transform: rotateY(745deg) rotateZ(45deg);
  transition: transform .5s;
}

.square5:hover {
  -webkit-transform: rotateX(45deg);
  transform: rotateX(45deg);
  transition: transform .5s;
}

.square6:hover {
  transform: translate3d(20px, 30px, 40px);
  transition: transform .5s;
}

.three-container {
  background-color: #383838;
  margin: 0px;
  overflow: hidden;
}

.three-a {
  color: #eeeeee;
}

.d3-container {
  position: relative;
  display: block;
  width: 100%;
  margin: 100px auto;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.d3-container text {
  font: 10px sans-serif;
}

.d3-container .axis path,
.d3-container .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.d3-container form {
  position: absolute;
  right: 10px;
  top: 10px;
}

.photo-search {
  position: relative;
  top: 105px;
  left: 125px;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: #383838;
}

input.search-photo {
  position: relative;
  display: block;
  top: 110px;
  left: 125px;
  width: 400px;
  background-color: #fff;
}

.search-results {
  position: relative;
  display: block;
  margin: 50px auto;
  width: 90%;
}

.search-results .photo {
  width: 200px;
  height: 200px;
  margin: 10px;
  overflow: hidden;
  display: inline-block;
}

.search-results .photo img {
  width: 100%;
  border: solid 1px #383838;
}

.new-book-container {
  position: relative;
  display: block;
  margin: 200px auto;
  width: 500px;
}

.new-book-container .form-label {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #383838;
}

/*.btn-add {
  position: relative;
  left: -5px;
  top: 10px;
  background-color: #383838;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
}*/
.book-list-container {
  position: relative;
  display: block;
  margin: 200px auto;
  width: 75%;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #383838;
}

.btn-default.btn-add-book {
  position: relative;
  left: 5px;
  top: 10px;
  background-color: #D12BC4;
  color: #eee;
}

.btn-default.btn-add-book:hover {
  background-color: #383838;
  color: #eee;
}

.school-header {
  position: relative;
  width: 90%;
  height: 5vh;
  margin: 7vh auto;
  z-index: 0;
  background-color: #F5F4F5;
  border-bottom: solid 1px #323333;
  /*box-shadow: 0px 0px 5px 1px #8A8C8C;*/
  /*a.option:active {
    font-size: 2.5vmin;
    font-weight: bold;
    color: #4B4C4D;
  }*/
}

.school-header a.option {
  display: inline-block;
  margin-bottom: 56px;
  font-family: 'Rock Salt', cursive;
  font-size: 2.25vmin;
  color: #323333;
  /*text-decoration: underline;*/
  line-height: 7vh;
  margin-left: 2vw;
  margin-right: 1.5vw;
}

.school-header a.option:hover {
  text-decoration: none;
  color: #4B4C4D;
}

.school-main {
  position: relative;
  display: block;
  width: 100%;
}

.school-main .book-container {
  position: relative;
  display: inline-block;
  width: 32vw;
  height: 32vh;
  margin-right: 10vw;
  margin-bottom: 3vh;
}

.school-main .book-container img.book-image {
  position: relative;
  left: -2vw;
  top: 2.75vh;
  width: 8vw;
  height: 22vh;
  box-shadow: 0px 2px 2px 3px rgba(210, 214, 213, 0.8);
}

.school-main .book-container .title {
  position: relative;
  left: 7vw;
  top: -3vh;
  width: 25vw;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.5vmin;
  color: #323333;
  text-align: left;
}

.school-main .book-container .author {
  position: relative;
  left: 7vw;
  top: -4vh;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2vmin;
  color: #323333;
  text-align: left;
  perspective: 500px;
  perspective-origin: 10% 25%;
}

.school-main .book-container:hover {
  background-color: #fff;
  box-shadow: 0px 2px 2px 1px rgba(210, 214, 213, 0.5);
  transform: translate3d(1px, 10px, 60px);
  transition: transform .5s;
}

.landing {
  position: relative;
  display: block;
  width: 100%;
  background-color: #F5F4F5;
}

.landing .notebook-paper {
  width: 40%;
  background: linear-gradient(to bottom, white 29px, #00b0d7 1px);
  margin: -10vh auto;
  background-size: 100% 30px;
  position: relative;
  padding-top: 20vh;
  /*padding-left: 160px;*/
  padding-right: 20px;
  overflow: hidden;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2), 0px 0px 6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2), 0px 0px 6px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2), 0px 0px 6px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2), 0px 0px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2), 0px 0px 6px rgba(0, 0, 0, 0.2);
}

.landing .notebook-paper:before {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 5vw;
  height: 100%;
  width: 1px;
  background: #db4034;
}

.landing .notebook-paper .paper-title-line {
  height: 10vh;
  width: 100%;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
}

.landing .notebook-paper .paper-title-line .books-header {
  position: relative;
  top: 2vh;
  left: 6vw;
  font-family: 'Rock Salt', cursive;
  font-size: 7vmin;
  color: #323333;
}

.landing .notebook-paper .option {
  position: relative;
  display: block;
  margin-bottom: 56px;
  font-family: 'Rock Salt', cursive;
  font-size: 3vmin;
  left: 6vw;
  color: #323333;
}

.landing .notebook-paper .option:hover {
  text-decoration: none;
  color: #4B4C4D;
}

/*.col-md-2.school-subject  {
  position: relative;
  display: block;
  top: 75px;
  left: 10px;
    
  .select.form-control.select-picker {
    position: relative;
    top: 50px;
    font-family: 'Josefin Sans', sans-serif;
    color: #383838;
    font-size: 18px;
    
    .option {
      position: relative;
      display: block;
      top: 320px;
      left: 25px;
      font-family: 'Josefin Sans', sans-serif;
      color: #383838;
      font-size: 16px;
    }
  }
  /*.suggest-book {
    position: relative;
    display: block;
    top: 100px;
    p {
      font-family: 'Josefin Sans', sans-serif;
      color: #383838;
      font-size: 18px;
      text-align: left;
    }
    .btn-default.btn-suggest {
      background-color: #00C9D6;
      color: #eee;
      font-family: 'Josefin Sans', sans-serif;
      font-size: 16px;
    }
    .suggestion-box {
      position: relative;
      display: none;
      height: 400px;
      width: 300px;
      background-color: #383838;
      border-radius: 5px;
      margin: 10px 0 10px -10px;
      padding: 10px;
      font-family: 'Josefin Sans', sans-serif;
      font-size: 16px;
      color: #eee;     
      
      label {
        margin-bottom: 0;
        margin-left: 25px;
      }
      .form-control {
        padding: 0;
        width: 225px;
        margin-bottom: 0;
        margin-left: 25px;
        background-color: #383838;
        font-size: 16px;
        color: #eee;
      }
      .btn-suggestion {
        background-color: #00C9D6;
        font-size: 16px;
        color: #eee;
        margin-left: 25px;
      }
    }
  }
  .thank-you {
    position: relative;
    display: none;
    height: 200px;
    width: 300px;
    border-radius: 10px;
    background-color: #00C9D6;
    padding: 20px;

  h3 {
    position: relative;
    color: #eee;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    text-align: center;
    }
  }
}


  /*.image-responsive {
    position: relative;
    display: inline;
    margin: 100px auto;
    width: 500px;
  }*/
/*li.books-back {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2vmin;
  color: black;
}
li.books-back:hover {
  text-decoration: none;
  color: grey;
}*/
.timer-main {
  background-color: #aaa;
}

.timer-main .stopwatch-container {
  position: relative;
  display: block;
  margin: 100px auto;
  padding: 20px;
  height: 600px;
  width: 400px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 2px 2px 2px;
}

.timer-main .stopwatch-container .stopwatch .time {
  position: relative;
  display: block;
  left: 25%;
  font-family: 'Taviraj', serif;
  font-size: 64px;
}

.timer-main .stopwatch-container .stopwatch .controls {
  margin: -1.5vh 1.5vw;
}

.timer-main .stopwatch-container .stopwatch .controls .toggle {
  position: relative;
  display: inline-block;
  width: 7vw;
  font-family: 'Taviraj', serif;
  font-size: 3vmin;
  color: #fff;
  background-color: #28CC1D;
  text-align: center;
}

.timer-main .stopwatch-container .stopwatch .controls .reset {
  position: relative;
  display: inline-block;
  width: 7vw;
  font-family: 'Taviraj', serif;
  font-size: 3vmin;
  color: #fff;
  background-color: #FF2D2C;
  text-align: center;
}

.timer-main .stopwatch-container .stopwatch .controls .split {
  position: relative;
  display: inline-block;
  width: 7vw;
  font-family: 'Taviraj', serif;
  font-size: 3vmin;
  color: #fff;
  background-color: #0D2CF8;
  text-align: center;
}

.timer-main .cum-time {
  position: relative;
  float: left;
  width: 160px;
  height: 400px;
  top: 30px;
  margin-right: 10px;
  font-family: 'Taviraj', serif;
  font-size: 20px;
  line-height: 20px;
}

.timer-main .ind-time {
  position: relative;
  float: right;
  width: 160px;
  height: 400px;
  top: 30px;
  font-family: 'Taviraj', serif;
  font-size: 20px;
  line-height: 20px;
}

.no-bootstrap {
  background-color: #888;
}

.no-bootstrap .vdt-container {
  position: relative;
  display: block;
  margin: 100px auto;
  padding: 20px;
  height: 400px;
  width: 600px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 2px 2px 2px;
}

.no-bootstrap .vdt-container h1 {
  font-family: 'Taviraj', serif;
  font-size: 50px;
  text-align: center;
}

.no-bootstrap .vdt-container h2 {
  position: relative;
  top: 50px;
  font-family: 'Taviraj', serif;
  font-size: 30px;
  text-align: center;
}

.no-bootstrap .vdt-container .btn-start {
  position: relative;
  top: 150px;
  left: 450px;
  width: 100px;
  font-family: 'Taviraj', serif;
  font-size: 20px;
}

.vdt-image-container {
  position: relative;
  display: block;
  margin: 100px auto;
  padding: 20px;
  height: 600px;
  width: 1000px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 2px 2px 2px;
}

.vdt-image-container .vdt-image {
  position: relative;
  display: inline-block;
  height: 250px;
  width: 400px;
  margin: 150px 35px;
  box-shadow: 2px 2px 2px;
}

.vdt-image-container .vdt-image {
  position: relative;
  display: inline-block;
  height: 250px;
  width: 400px;
  margin: 150px 35px;
  box-shadow: 2px 2px 2px;
}

.dalquest-background {
  background-image: url(/images/ddrs-landscape.jpg);
}

/*
nav.dalquest-nav {
  position: relative;
  top: 0;
  left: 0;
  width: 150px;
  height: 100%;
  background-color: #e8e8e8;
}
  
ul.dalquest-nav-list {
  position: relative;
  display: block;
  margin: auto;
}
li.dalquest-nav-item {
  list-style-image: none;
}

a.dalquest-navitem {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  color: #190000;
}
a.dalquest-navitem:hover {
  text-decoration: none;
  color: #331103;
}

*/

/*# sourceMappingURL=main.css.map*/