@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);@import url(https://fonts.googleapis.com/css?family=Open+Sans);@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);body {
  width: 100%;
  margin: 0;
  font-size: 1.75em;
  font-family: 'Open Sans', sans-serif;
  background-color: #FEFEFE;
}

header nav.joc-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4.7em;
  /*z-index: 1;*/
  background: #33a7be;
  box-shadow: 0 0 10px rgba(46, 45, 44, 0.25);
}

header nav.joc-navbar a.navbar-brand {
  position: relative;
  left: 2%;
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
}

header nav.joc-navbar a.navbar-brand .logo-jocrf {
  position: relative;
  display: block;
  top: 10px;
  font-size: 1.5em;
}

header nav.joc-navbar a.navbar-brand .logo-underline {
  position: relative;
  display: block;
  width: 280px;
  height: 2px;
  left: 10px;
  top: -10px;
}

header nav.joc-navbar a.navbar-brand .logo-tagline {
  position: relative;
  display: block;
  top: -30px;
  left: 20px;
  font-size: 1em;
}

header nav.joc-navbar a.navbar-brand:hover {
  color: #fff;
}

header nav.joc-navbar ul.navbar-right {
  position: relative;
  /*left: -2%;*/
  top: 1.55em;
}

header nav.joc-navbar ul.navbar-right li {
  margin-right: 2em;
  letter-spacing: 1px;
}

header nav.joc-navbar ul.navbar-right li a {
  color: #fff;
}

header nav.joc-navbar ul.navbar-right li a:hover {
  background: inherit;
  color: #fff;
  /*text-decoration: none;*/
}

header nav.joc-navbar ul.navbar-right li .btn-signin {
  position: relative;
  /*top: -1em;*/
  background: inherit;
  border-radius: 2px;
  border: 2px solid #fff;
  font-size: 0.75em;
  letter-spacing: 1px;
  padding: 0.5em 1em;
  color: #fff;
}

header nav.joc-navbar ul.navbar-right li .btn-signin:focus {
  outline: 0;
}

header nav.joc-navbar ul.navbar-right li .btn-signin:active {
  outline: none;
  border: none;
}

main {
  position: relative;
  display: block;
  top: 4em;
  min-height: 900px;
  padding: 50px 0;
  font-family: 'Open Sans', sans-serif;
}

main .find-path {
  width: 98%;
  margin: auto;
}

main .find-path h1 {
  font-size: 3em;
  text-align: center;
  font-family: 'Kaushan Script';
  color: #222;
}

main .find-path .col-sm-8 p {
  width: 90%;
  margin: 50px auto;
  color: #222;
  font-size: 1.25em;
  text-align: center;
}

main .find-path .col-sm-8 img {
  position: relative;
  width: 450px;
  margin: auto;
}

main .login-container {
  position: relative;
  width: 500px;
  margin: 20vh auto;
  font-family: 'Open Sans', sans-serif;
  /*background-color: #F0F1F3;*/
  background: inherit;
  box-shadow: 0 0 10px rgba(46, 45, 44, 0.25);
  padding: 2em 0.5em;
}

main .login-container h2 {
  text-align: center;
  color: #082B3A;
}

main .login-container .form-control {
  border-radius: 0;
  border: none;
  background-color: rgba(217, 214, 208, 0.25);
  width: 80%;
  height: 50px;
  margin: 25px auto;
  color: #696764;
}

main .login-container .form-control:focus {
  outline: none;
  border: none !important;
  box-shadow: none !important;
}

main .login-container .btn-login {
  position: relative;
  border-radius: 0;
  background-color: #33a7be;
  width: 80%;
  height: 60px;
  left: 10%;
  color: #fff;
  text-transform: uppercase;
}

main .form-control::-webkit-input-placeholder {
  color: #AEACA7;
}

main .form-control::-moz-placeholder {
  color: #AEACA7;
}

main .form-control:-ms-input-placeholder {
  color: #AEACA7;
}

footer {
  padding: 30px 0;
  font-size: 14px;
  color: #bbb;
  background: #222;
  text-align: center;
}

@media screen and (max-width: 993px) and (min-width: 768px) {
  header nav.joc-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4.7em;
    background: #33a7be;
    box-shadow: 0 0 10px rgba(46, 45, 44, 0.25);
  }
  header nav.joc-navbar a.navbar-brand {
    position: relative;
    left: 2%;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
  }
  header nav.joc-navbar a.navbar-brand .logo-jocrf {
    position: relative;
    display: block;
    top: 10px;
    font-size: 1.5em;
  }
  header nav.joc-navbar a.navbar-brand .logo-underline {
    position: relative;
    display: block;
    width: 280px;
    height: 2px;
    left: 10px;
    top: -10px;
  }
  header nav.joc-navbar a.navbar-brand .logo-tagline {
    position: relative;
    display: block;
    top: -30px;
    left: 20px;
    font-size: 1em;
  }
  header nav.joc-navbar ul.navbar-right {
    position: relative;
    left: -2.5%;
    top: 2em;
  }
  header nav.joc-navbar ul.navbar-right li {
    font-size: 0.75em;
    margin-right: 1em;
  }
  header nav.joc-navbar ul.navbar-right li a {
    color: #fff;
  }
  header nav.joc-navbar ul.navbar-right li a:hover {
    background: inherit;
    color: white;
  }
  header nav.joc-navbar ul.navbar-right .btn-signin {
    position: relative;
    background: inherit;
    top: 0.5em;
    border-radius: 2px;
    border: 2px solid #fff;
    font-size: 0.75em;
    letter-spacing: 1px;
    padding: 0.5em 1em;
    color: #fff;
  }
  header nav.joc-navbar ul.navbar-right .btn-signin:focus {
    outline: 0;
  }
  header nav.joc-navbar ul.navbar-right .btn-signin:active {
    outline: none;
    border: none;
  }
  main .find-path {
    background: transparent;
  }
  main .find-path h1 {
    text-align: center;
    font-family: 'Kaushan Script';
    color: #222;
  }
  main .find-path .col-sm-8 img {
    position: relative;
    width: 400px;
    margin: auto;
  }
  main .find-path .col-sm-8 p {
    position: relative;
    color: #222;
    font-size: 1em;
  }
  main .login-container {
    position: relative;
    width: 650px;
    margin: 5vh auto;
    font-family: 'Open Sans', sans-serif;
    /*background-color: #F0F1F3;*/
    background: inherit;
    box-shadow: 0 0 10px rgba(46, 45, 44, 0.25);
    padding: 2em 0.5em;
  }
  main .login-container h2 {
    text-align: center;
    color: #082B3A;
  }
  main .login-container .form-control {
    border-radius: 0;
    border: none;
    background-color: rgba(217, 214, 208, 0.25);
    width: 80%;
    height: 50px;
    margin: 25px auto;
    color: #696764;
  }
  main .login-container .form-control:focus {
    outline: none;
    border: none !important;
    box-shadow: none !important;
  }
  main .login-container .btn-login {
    position: relative;
    border-radius: 0;
    background-color: #33a7be;
    width: 80%;
    height: 60px;
    left: 10%;
    color: #fff;
    text-transform: uppercase;
  }
  .form-control::-webkit-input-placeholder {
    color: #AEACA7;
  }
  .form-control::-moz-placeholder {
    color: #AEACA7;
  }
  .form-control:-ms-input-placeholder {
    color: #AEACA7;
  }
}

@media screen and (max-width: 768px) {
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .navbar-default .navbar-toggle {
    top: 1.25em;
    border: none;
  }
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:active,
  .navbar-default .navbar-toggle:focus {
    background-color: inherit;
  }
  .navbar-header {
    float: none;
  }
  .navbar-left, .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: none;
    box-shadow: none;
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }
  .navbar-nav > li {
    float: none !important;
    text-align: right;
  }
  .navbar-nav > li > a {
    /*left: 2%;*/
    padding-top: 10px;
    padding-bottom: 10px;
    /*text-align: right;*/
  }
  .navbar-nav > li > button {
    left: -3%;
    margin-top: 10px;
    /*text-align: right;*/
  }
  .collapse.in {
    display: block !important;
    background-color: #33a7be;
    height: 12em;
  }
  main {
    position: absolute;
    display: block;
    min-height: 900px;
    padding: 50px 0;
    font-family: 'Open Sans', sans-serif;
  }
  main .find-path h1 {
    text-align: center;
    font-family: 'Kaushan Script';
    color: #222;
  }
  main .find-path .col-sm-6 {
    width: 95%;
    margin: auto;
  }
  main .find-path .col-sm-6 p {
    position: relative;
    color: #222;
    font-size: 1em;
  }
  main img {
    width: 250px;
  }
  main .login-container {
    position: relative;
    width: 500px;
    font-family: 'Open Sans', sans-serif;
    /*background-color: #F0F1F3;*/
    background: inherit;
    box-shadow: 0 0 10px rgba(46, 45, 44, 0.25);
    padding: 2em 0.5em;
  }
  main .login-container h2 {
    text-align: center;
    color: #082B3A;
  }
  main .login-container .form-control {
    border-radius: 0;
    border: none;
    background-color: rgba(217, 214, 208, 0.25);
    width: 80%;
    height: 50px;
    margin: 25px auto;
    color: #696764;
  }
  main .login-container .form-control:focus {
    outline: none;
    border: none !important;
    box-shadow: none !important;
  }
  main .login-container .btn-login {
    position: relative;
    border-radius: 0;
    background-color: #33a7be;
    width: 90%;
    height: 40px;
    left: 10%;
    color: #fff;
    text-transform: uppercase;
  }
}

/*# sourceMappingURL=main.css.map*/