@import url(https://fonts.googleapis.com/css?family=Carme);@import url(https://fonts.googleapis.com/css?family=Prompt);@import url(https://fonts.googleapis.com/css?family=Libre+Franklin);@import url(https://fonts.googleapis.com/css?family=Montez);@import url(https://fonts.googleapis.com/css?family=Amita);@import url(https://fonts.googleapis.com/css?family=Lato);@import url(https://fonts.googleapis.com/css?family=Proza+Libre:400,500);@import url(https://fonts.googleapis.com/css?family=Nunito);@import url(https://fonts.googleapis.com/css?family=Trirong:700);@import url(https://fonts.googleapis.com/css?family=Sigmar+One);@import url(https://fonts.googleapis.com/css?family=Trirong:400,700);body.override-bootstrap {
  margin: 0;
  background-color: #f4f3f8;
}

.main-header .row {
  position: relative;
  display: block;
  width: 100%;
  height: 100px;
  background-color: #f4f3f8;
  border-bottom: 2px solid #3a98b8;
  margin: 0;
  padding: 0;
}

.col-md-2 {
  position: relative;
  top: 75px;
  left: 75px;
}

.col-md-2 a {
  font-family: 'Carme', sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: #212413;
}

.col-md-2 a:hover {
  color: #e4e3e8;
  text-decoration: none;
  /*text-align: center;*/
  top: 60px;
  height: 40px;
  width: 240px;
  background-color: #3a98b8;
}

/*.main-circle {
  position: relative;
  top: 50px;
  left: 50px;
  height: 200px;
  width: 200px;
  border-radius: 100%;
  background-color: #9c83e6;
  z-index: 1;
}
.main-square {
  position: relative;
  top: 0;
  left: 150px;
  height: 200px;
  width: 200px;
  background-color: #212413;
  z-index: 0;
}*/
body.override-bootstrap {
  margin: 0;
  background-color: #f4f3f8;
}

.main-todo {
  margin: 5px auto;
  width: 500px;
  height: 100%;
}

.todo-container {
  margin: 5px auto;
  margin-top: 125px;
  width: 400px;
}

.form-control.inuput-name {
  background-color: #f4f3f8;
}

#todo-title {
  font-family: 'Prompt';
  font-size: 30px;
  color: #212413;
  font-weight: 400;
}

.add-todo-container {
  margin-bottom: 10px;
}

.add-todo-container .col-md-10 {
  padding-left: 0;
}

.add-todo-container .col-md-2 {
  padding-right: 0;
  text-align: right;
}

body.override-bootstrap {
  margin: 0;
  background-color: #f4f3f8;
}

.square {
  position: relative;
  display: inline-block;
  top: 120px;
  left: 330px;
  height: 100px;
  width: 100px;
  margin-right: 30px;
  background-color: #24205a;
  text-align: left;
  font-family: arial;
  font-size: 42px;
  transform: none;
  transition: transform .5s;
  color: #e4e3e8;
  font-family: 'Prompt';
}

.square-container {
  display: inline-block;
  perspective: 50px;
}

.square1:hover {
  transform: skewY(45deg);
  transition: transform .5s;
}

.square2:hover {
  transform: rotate(720deg);
  transition: transform .5s;
}

.square3:hover {
  transform: scale(0.8, 0.5);
  transition: transform .5s;
}

.square4:hover {
  transform: rotateY(745deg) rotateZ(45deg);
  transition: transform .5s;
}

.square5:hover {
  -webkit-transform: rotateX(45deg);
  transform: rotateX(45deg);
  transition: transform .5s;
}

.square6:hover {
  transform: translate3d(20px, 50px, 100px);
  transition: transform .5s;
}

.timer-container {
  position: relative;
  display: block;
  top: 50px;
  width: 400px;
  height: 500px;
  margin: auto;
  text-align: center;
  background-color: #F6C5FF;
  border: solid 1px black;
}

.timer-container .counter {
  position: absolute;
  display: block;
  top: 10px;
  left: 80px;
  font-size: 64px;
}

.timer-container .start-button {
  position: absolute;
  top: 100px;
  left: 40px;
  width: 75px;
}

.timer-container .stop-button {
  position: absolute;
  top: 100px;
  left: 120px;
  width: 75px;
}

.timer-container .reset-button {
  position: absolute;
  top: 100px;
  left: 200px;
  width: 75px;
}

.timer-container .split-button {
  position: absolute;
  top: 100px;
  left: 280px;
  width: 75px;
}

.timer-container .split-time {
  position: absolute;
  display: block;
  width: 150px;
  height: 400px;
  top: 75px;
  left: 100px;
  text-align: left;
  font-family: arial;
  font-size: 14px;
}

.timer-container .lap-time {
  position: absolute;
  width: 150px;
  height: 400px;
  top: 75px;
  left: 300px;
  text-align: left;
  font-family: arial;
  font-size: 14px;
}

body.override-bootstrap {
  margin: 0;
  background-color: #f4f3f8;
}

.page-container {
  position: relative;
  top: 125px;
  left: 25px;
  width: 500px;
  background-color: white;
}

body.override-bootstrap {
  margin: 0;
  background-color: #f4f3f8;
}

.photo-search {
  position: relative;
  top: 25px;
  left: 25px;
  font-family: 'Prompt', cursive;
  font-size: 20px;
  color: #212413;
}

input.search-photo {
  position: relative;
  display: block;
  top: 30px;
  left: 25px;
  width: 400px;
  background-color: #f4f3f8;
}

.search-results {
  position: relative;
  display: block;
  margin: 50px auto;
  width: 90%;
}

.search-results .photo {
  width: 200px;
  height: 200px;
  margin: 10px;
  overflow: hidden;
  display: inline-block;
}

.search-results .photo img {
  width: 100%;
  border: solid 1px #212413;
}

body.override-bootstrap {
  margin: 0;
  background-color: #f4f3f8;
}

.new-book-container {
  position: relative;
  display: block;
  margin: 100px auto;
  width: 500px;
}

.new-book-container .form-label {
  font-family: 'Trirong', serif;
  font-size: 16px;
  color: #212413;
}

.book-list-container .book-table {
  position: relative;
  display: block;
  margin: 100px auto;
  width: 75%;
  height: 100%;
}

body.override-bootstrap {
  margin: 0;
  background-color: #f4f3f8;
}

/*.subject-list-container {
  height: 30%;
}*/
.school-subject {
  position: relative;
  font-family: 'Trirong', serif;
  color: #212413;
  font-size: 20px;
  top: 30px;
  left: 50px;
}

.form-control.subject-list {
  position: relative;
  top: 35px;
  left: 50px;
  width: 250px;
}

.form-control.subject-list:focus {
  border-color: #3a98b8;
}

.response-container {
  position: relative;
  display: block;
  margin: 60px auto;
}

li.book-container {
  display: inline-block;
  list-style-image: none;
  height: 360px;
  width: 600px;
  margin-right: 25px;
}

li.book-container img.book-image {
  position: relative;
  width: 200px;
  height: 300px;
  top: 30px;
  left: -20px;
  box-shadow: 0px 2px 2px 3px rgba(210, 214, 213, 0.8);
}

li.book-container .title {
  position: relative;
  top: -150px;
  left: 200px;
  width: 380px;
  font-family: 'Trirong', serif;
  font-size: 20px;
  color: #212413;
  text-align: left;
}

li.book-container .author {
  position: relative;
  top: -140px;
  left: 200px;
  font-family: 'Trirong', serif;
  font-size: 16px;
  color: #212413;
  text-align: left;
}

li.book-container:hover {
  background-color: #fefefe;
  box-shadow: 0px 1px 1px 1px rgba(210, 214, 213, 0.5);
}

img.book-image:hover {
  transform: rotate3d(5deg, 10deg, 45deg);
  transition: transform .5s;
}

/*Icon made by Freepik from www.flaticon.com */
/*<div>Icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>*/
video {
  height: 240px;
  width: 320px;
}

/*# sourceMappingURL=main.css.map*/