<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
        <link rel="stylesheet" type="text/css" href="/main.css">
        <script type="text/javascript" async="async" defer="defer" src="/application.js"></script>
    </head>
    <body class="homepage">
        <nav class="nav-homepage">
            <h1>Lisa M</h1>
            <ul>
                <li class="todo-nav">
                    <a role="menuitem" href="/pages/todo.html">Todo Application</a>
                </li>
                <li class="project-nav">
                    <a role="menuitem" href="/pages/project.html">My Project</a>
                </li>
                <li class="funny-squares">
                    <a role="menuitem" href="/pages/funnySquares.html">Funny Squares</a>
                </li>
            </ul>
        </nav>
      </div>


    </body>
</html>