<!doctype html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="shortcut icon" type="image/x-icon" href="/images/cloud.ico" />
      <link rel="stylesheet" type="text/css" href="/main.css">
      <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script type="text/javascript" src="/application.js"></script>
  </head>
  <body>
    <a href="/pages/tweezerTimer.html">Tweezer</a>
    <a href="/pages/observationTimer.html">Observation</a>
  </body>
</html>