<!doctype html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="shortcut icon" type="image/x-icon" href="/images/cloud.ico" />
      <link rel="stylesheet" type="text/css" href="/main.css">
      <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script type="text/javascript" async="async" defer="defer" src="/application.js"></script>
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
  </head>
  <body class="timer-body">
    <div class="stopwatch-container">
      <ul class="list-group timers">
        <li class="list-group-item"><a href="/pages/observationTimer.html">Observation</a></li>
        <li class="list-group-item">Paper Folding</li>
        <li class="list-group-item"><a href="/pages/tweezerTimer.html">Tweezer Dexterity</a></li>
        <li class="list-group-item">Analytical Reasoning</li>
        <li class="list-group-item">Color Discrimination</li>
      </ul> 
      <!-- <h1 class="test-name">Test Name</h1>
      <h5 class="form-number">XYZ 123</h5>
      <button class="btn btn-default reset-button">Reset</button>
      <div class="cum-counter">Cumulative Time:  .00</div>
      <div class="split-counter">Individual Time:  .00</div>  
      <button class="btn btn-default start-stop-button">Start</button>
      <button class="btn btn-default misc-button">Split</button> -->
    </div>
  </body>
</html>

