<!doctype html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="shortcut icon" type="image/x-icon" href="/images/cloud.ico" />
      <link rel="stylesheet" type="text/css" href="/main.css">
      <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
      <script type="text/javascript" async="async" defer="defer" src="/application.js"></script>
  </head>
  <body class="landing-override-bootstrap">
    <section class="portfolio-landing">  
      <div class="header-logo">
        <a href="/server/view.ejs" class="marisaile" role="menuitem">Marisaile<!-- <span>Junior Frontend Developer</span> --></a>
      </div>    
      <hr class="horizontal-line">
      <div class="sections">
        <a href="#" class="nav-sections bio">Bio</a>
        <a href="#" class="nav-sections projects">Projects</a>
        <a href="#" class="nav-sections resume">Resume</a>
      </div>
    </section>
    <section class="portfolio-bio">
      <h1 class="bio-about">About Me</h1>
      <p class="bio-content"></p>
    </section>
    <section class="contact-info">
      <a href="https://github.com/marisaile" target="new">github</a>
      <a href="http://codepen.io/marisaile/">codepen</a>
      <a href="https://www.linkedin.com/in/lisa-cook-93ba2115?trk=hp-identity-name">linkedin</a>
    </section>
  </body>
</html>