<!doctype html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="shortcut icon" type="image/x-icon" href="/images/cloud.ico" />
      <link rel="stylesheet" type="text/css" href="/main.css">
      <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script type="text/javascript" async="async" defer="defer" src="/application.js"></script>
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-default navbar-fixed-top joc-navbar">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mobile-nav" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand"><img src="/images/joc-logo-color.png"></a>
          </div>   
          <div class="collapse navbar-collapse" id="mobile-nav">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/contact">Contact</a></li>
              <li><a href="/portal"><button class="btn btn-signin">Sign In</button></a></li>
            </ul>
          </div>
        </div>        
      </nav>
    </header>
    
    <!-- main content here -->

    <main>
    <div class="find-path">
      <div class="container-fluid">
        <div class="row">
          <h1>Find your Path</h1>
        </div>
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <p>The Johnson O'Connor Research Foundation can help you identify your natural abilities, or aptitudes, so you can find the career that's best suited for you!</p>
            <img src="/images/confused-character.jpg" class="img-responsive">
            
          </div>
        </div>
      </div>
    </div>
    </main>
    <footer>
      Copyright &copy; 2017
    </footer>

  </body>
</html>

