
<nav class="school-nav">
  <a href=" " role="navitem" class="option" id="books">Home</a>
  <a href="#" role="navitem" class="option" id="english literature">English Literature</a>
  <a href="#" role="navitem" class="option" id="history">History</a>
  <a href="#" role="navitem" class="option" id="math">Math/Statistics</a>
  <a href="#" role="navitem" class="option" id="polisci">Political Science</a>
  <a href="#" role="navitem" class="option" id="psych">Psychology</a>
  <a href="#" role="navitem" class="option" id="science">Science</a>
</nav>
