<!-- <ol class="breadcrumb">
  <li class="breadcrumb books-back"><a href="#">back</a></li>
</ol> -->
<ul class="school-books-list">
  <li class="school-books-item col-md-5 col-md-offset-1">
    <div class="book-container">
      <a href="https://www.goodreads.com/book/show/7968243-cleopatra?ac=1&from_search=true" target="new"><img class ="book-image" src ="/images/books/cleopatra.png"></a>
      <div class="title">Cleopatra</div>
      <div class="author">by Stacy Schiff</div><br>
    </div>
  </li>
  <li class="school-books-item col-md-5 col-md-offset-1">
    <div class="book-container">
      <a href="https://www.goodreads.com/book/show/6558145-abigail-adams?from_search=true&search_version=service" target="new"><img class ="book-image" src="/images/books/abigail.png"></a>
      <div class="title">Abigail Adams</div>
      <div class="author">Woody Holton</div><br>   
    </div>
  </li>
  <li class="school-books-item col-md-5 col-md-offset-1">
    <div class="book-container">
      <a href="https://www.goodreads.com/book/show/24602886-lafayette-in-the-somewhat-united-states" target="new"><img class ="book-image" src="/images/books/lafayette.png"></a>
      <div class="title">Lafeyette in the Somewhat United States</div>
      <div class="author">Sarah Vowell</div>     
    </div>
  </li>
  <li class="school-books-item col-md-5 col-md-offset-1">
    <div class="book-container">
      <a href="https://www.goodreads.com/book/show/18669169-the-sleepwalkers?from_search=true&search_version=service" target="new"><img class ="book-image" src="/images/books/sleepwalkers.png"></a>
      <div class="title">The Sleepwalkers: How Europe Went to War in 1914</div>
      <div class="author">Christopher Munro Clark</div>
    </div>      
  </li>
  <li class="school-books-item col-md-5 col-md-offset-1">
    <div class="book-container">
      <a href="https://www.goodreads.com/book/show/1843530.The_Progress_Paradox" target="new"><img class ="book-image" src ="/images/books/progress.png"></a>
      <div class="title">The Progress Paradox</div>
      <div class="author">Gregg Easterbrook</div><br>
    </div>
  </li>
  <li class="school-books-item col-md-5 col-md-offset-1">
    <div class="book-container">
      <a href="https://www.goodreads.com/book/show/430027.Brother_I_m_Dying?from_search=true&search_version=service" target="new"><img class ="book-image" src="/images/books/brother.png"></a>
      <div class="title">Brother, I'm Dying</div>
      <div class="author">Edwidge Dandicat</div>
    </div>
  </li>
  <li class="school-books-item col-md-5 col-md-offset-1">
    <div class="book-container">
      <a href="https://www.goodreads.com/book/show/581915.The_Jungle" target="new"><img class ="book-image" src="/images/books/jungle.png"></a>
      <div class="title">The Jungle</div>
      <div class="author">Upton Sinclair</div> 
    </div>    
  </li>
  <li class="school-books-item col-md-5 col-md-offset-1">
    <div class="book-container">
      <a href="https://www.goodreads.com/book/show/21.A_Short_History_of_Nearly_Everything?ac=1&from_search=true" target="new"><img class ="book-image" src="/images/books/bryson.png"></a>
      <div class="title">A Short History of Nearly Everything</div>
      <div class="author">Bill Bryson</div>   
    </div>  
  </li>
</ul>


