<!-- <div class="modal fade" id="bookDisplayModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{title}}</h4>
      </div>
      <div class="modal-body">
        <iframe src="https://books.google.com/books?id=9H9aAAAAMAAJ&dq=editions:5iTbjefdfnYC" style="border:none" frameborder="0" height="800" width="500"></iframe>
      </div>
    </div>
  </div>
</div> !-->

<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">x</span>
    <p>Some text in the Modal..</p>
  </div>

</div>