<!-- <ol class="breadcrumb">
  <li class="breadcrumb books-back"><a href="#">back</a></li>
</ol> -->
  <ul class="school-books-list">
    <li class="school-books-item col-md-5 col-md-offset-1">
      <div class="book-container">
        <a href="https://www.goodreads.com/book/show/6330678-a-thousand-days-of-wonder?from_search=true&search_version=service" target="new"><img class="book-image" src="/images/books/wonder.png"></a>
        <div class="title">1000 Days of Wonder</div>
        <div class="author">Charles Fernyhough</div>
      </div>
    </li>
    <li class="school-books-item col-md-5 col-md-offset-1">
      <div class="book-container">
        <a href="https://www.goodreads.com/book/show/7641110-life-is-what-you-make-it?from_search=true&search_version=service" target="new"><img class="book-image" src="/images/books/buffett.png"></a>
        <div class="title">Life is What You Make It</div>
        <div class="author">Peter Buffett</div>
      </div>
    </li>
    <li class="school-books-item col-md-5 col-md-offset-1">
      <div class="book-container">
        <a href="https://www.goodreads.com/book/show/11468377-thinking-fast-and-slow?ac=1&from_search=true" target="new"><img class="book-image" src="/images/books/thinking.png"></a>
        <div class="title">Thinking, Fast and Slow</div>
        <div class="author">Daniel Kahneman</div>
      </div>
    </li>
    <li class="school-books-item col-md-5 col-md-offset-1">
      <div class="book-container">
        <a href="https://www.goodreads.com/book/show/63697.The_Man_Who_Mistook_His_Wife_for_a_Hat_and_Other_Clinical_Tales?ac=1&from_search=true" target="new"><img class="book-image" src="/images/books/sacks.png"></a>
        <div class="title">The Man Who Mistook His Wife for a Hat</div>
        <div class="author">Oliver Sacks</div>
      </div>
    </li>
    <li class="school-books-item col-md-5 col-md-offset-1">
      <div class="book-container">
        <a href="https://www.goodreads.com/book/show/27539.On_Intelligence?ac=1&from_search=true" target="new"><img class="book-image" src="/images/books/intelligence.png"></a>
        <div class="title">On Intelligence</div>
        <div class="author">Jeff Hawkins</div>
      </div>
    </li>
    <li class="school-books-item col-md-5 col-md-offset-1">
      <div class="book-container">
        <a href="https://www.goodreads.com/book/show/77954.The_Second_Coming" target="new"><img class="book-image" src="/images/books/percy.png"></a>
        <div class="title">The Second Coming</div>
        <div class="author">Walker Percy</div>
      </div>
    </li>
    <li class="school-books-item col-md-5 col-md-offset-1">
      <div class="book-container">
        <a href="https://www.goodreads.com/book/show/25430578-cure?from_search=true&search_version=service" target="new"><img class="book-image" src="/images/books/cure.png"></a>
        <div class="title">Cure: A Journey into the Science of Mind over Body</div>
        <div class="author">Jo Marchant</div>
      </div>
    </li>
    <li class="school-books-item col-md-5 col-md-offset-1">
      <div class="book-container">
        <a href="https://www.goodreads.com/book/show/99300.The_Yellow_Wallpaper_and_Other_Stories?ac=1&from_search=true" target="new"><img class="book-image" src="/images/books/yellow.png"></a>
        <div class="title">The Yellow Wallpaper</div>
        <div class="author">Charlotte Perkins Gilman</div>
      </div>
    </li>
  </ul>
