<!-- 
  <div class="school-books-item">
    <a href="{{url}}" target="new">
      <img class="img-responsive book-image" src="{{image}}" alt="Responsive image">
    </a>
       <div class="title">{{title}}</div>
      <div class="author">{{author}}</div>
  </div>
 -->


<ul id="menu">

  <li> 
  	<a href="">
      <img class="img-responsive book-image" src="" alt="Responsive image">
    </a> 
   </li>

  <li> <a href="#">Item 2</a> </li>

  <li class="highlighted"> <a href="#">Item 3</a> </li>

  <li> <a href="#">Item 4</a> </li>

  <li> <a href="#">Item 5</a> </li>

  <li> <a href="#">Item 6</a> </li>

</ul>
