<section class="filter-books">
  <div class="subject">Filter by Subject</div>
    <a href="#" role="menuitem" id="english literature">English Literature</a>
    <a href="#" role="menuitem" id="history">History</a>
    <a href="#" role="menuitem" id="math">Math/Statistics</a>
    <a href="#" role="menuitem" id="polisci">Political Science</a>
    <a href="#" role="menuitem" id="psych">Psychology</a>
    <a href="#" role="menuitem" id="religion">Religion</a>
    <a href="#" role="menuitem" id="science">Science</a>
  <!-- <img src="/images/books/20-rss-512.png" class="subscribe"></div> -->
  <!-- <label class="form-label">Filter books by subject</label> -->
  <!-- <select class="select-subject form-control">
    <option class="subject">Subject</option>
    <option class="subject" id="english literature">English Literature</option>
    <option class="subject" id="history">History</option>
    <option class="subject" id="math">Math</option>
    <option class="subject" id="polisci">Political Science</option>
    <option class="subject" id="psych">Psychology</option>
    <option class="subject" id="religion">Religion</option>
    <option class="subject" id="science">Science</option>
  </select> -->
  <div class="add-collection">Help us add to our collection:</div>
  <button class="btn btn-default btn-suggest">Suggest a book!</button>
</section>