<div class="notebook-paper">
  <div class="paper-title-line">
    <h1 class="books-header">Books!</h1>
  </div>
  <nav class="school-nav">
    <a href="#" role="navitem" class="option english">English Literature</a>
    <a href="#" role="navitem" class="option history">History</a>
    <a href="#" role="navitem" class="option math">Math/Statistics</a>
    <a href="#" role="navitem" class="option polsci">Political Science</a>
    <a href="#" role="navitem" class="option psych">Psychology</a>
    <a href="#" role="navitem" class="option science">Science</a>   
  </nav>
</div>