<!-- 
  <div class="school-books-item">
    <a href="{{url}}" target="new">
      <img class="img-responsive book-image" src="{{image}}" alt="Responsive image">
    </a>
       <div class="title">{{title}}</div>
      <div class="author">{{author}}</div>
  </div>
 -->


<!-- <ul id="menu">

  <li> 
  	<a href="">
      <img class="img-responsive book-image" src="" alt="Responsive image">
    </a> 
   </li>

  <li> <a href="#">Item 2</a> </li>

  <li class="highlighted"> <a href="#">Item 3</a> </li>

  <li> <a href="#">Item 4</a> </li>

  <li> <a href="#">Item 5</a> </li>

  <li> <a href="#">Item 6</a> </li>

</ul>
 -->

 <div class="row english">
  <h2 class="subject">English Literature</h2>
  <div id="wrapper_bu">
    <div id="bu1"> <img class="img-responsive book-image" src="/images/books/kundera.png" alt="Responsive image"><a href="https://books.google.com/books?id=Zd1l0Ivij8wC&printsec=frontcover&dq=the+unbearable+lightness+of+being&hl=en&sa=X&ved=0ahUKEwiC2e-c2_fOAhUH6WMKHTvGCScQ6AEIHjAA" title="The Unbearable Lightness of Being" target="new"></a> </div>
    <div id="bu2"> <a href="https://books.google.com/books?id=9H9aAAAAMAAJ&dq=editions:5iTbjefdfnYC" target="new">
              <img class="img-responsive book-image" src="/images/books/dillard.png" alt="Responsive image">
            </a>  </div>
    <div id="bu3"> <a href="https://books.google.com/books?id=nfjGMgEACAAJ&dq=love,+dishonor,+marry,+perish,+cherish&hl=en&sa=X&ved=0ahUKEwj44reg2vfOAhUq6oMKHciEAewQ6AEIHjAA" target="new">
              <img class="img-responsive book-image" src="/images/books/rakoff.png" alt="Responsive image">
            </a> </div>
    <div id="bu4"> <a href="https://books.google.com/books?id=tOjE5Usv_HQC&dq=lake+wobegon,+summer+1956&source=gbs_navlinks_s" target="new">
              <img class="img-responsive book-image" src="/images/books/garrison.png" alt="Responsive image">
            </a></div>
    <div id="bu5"> <a href="https://books.google.com/books?id=EJprQgAACAAJ&dq=the+dream+of+a+common+language&hl=en&sa=X&sqi=2&ved=0ahUKEwizmoaX3PfOAhUb24MKHfmLAA0Q6AEIHDAA" target="new">
              <img class="img-responsive book-image" src="/images/books/adrienne.png" alt="Responsive image">
            </a> </div>
  </div>
</div>

