
  <!-- <div class="suggest-book">
    <form class= "book-suggestion">
      <div class="form-group subject">
        <label for="subject">Subject</label>
        <input class="form-control subject" type="text">
      </div>
      <div class="form-group title">
        <label for="title">Title</label>
        <input class="form-control title" type="text">
      </div>
      <div class="form-group author">
        <label for="author">Author</label>
        <input class="form-control author" type="text">
      </div>
      <button class="btn btn-default btn-suggestion">Submit</button>
    </form>
  </div>
</div>
<div class="thank-you hidden">
  <h3>Thanks! We will let you know if your suggestion gets added to the list. In the meantime, keep reading!</h3>
</div>

 -->