<div class="book-list-container">
  <button class="btn btn-default btn-add-book">Add a book!</button>
  <div class="table-responsive">
    <table class="table table-hover">
      <tr>
        <th>Title<span class="caret"></span></th>
        <th>Author<span class="caret"></span></th>
        <th>Recommender<span class="caret"></span></th>
        <th>Genre<span class="caret"></span></th>
        <th>Read</th>
      </tr>
      <tr >
        <td>Franny and Zooey</td>
        <td>JD Salinger</td>
        <td>Lacey</td>
        <td>Literary Fiction</td>
        <td><button type="button" class="close btn-read" aria-label="Close"><span aria-hidden="true">&times;</span></button></td>
      </tr>
      <tr>
        <td>Scott Pilgrim's Precious Little Life</td>
        <td>Bryan Lee O'Malley</td>
        <td>Dennis</td>
        <td>Graphic Novel</td>
        <td><button type="button" class="close btn-read" aria-label="Close"><span aria-hidden="true">&times;</span></button></td>
      </tr>
      <tr>
        <td>Persepolis</td>
        <td>Marjane Satrapi</td>
        <td>Bobbie</td>
        <td>Graphic Novel</td>
        <td><button type="button" class="close btn-read" aria-label="Close"><span aria-hidden="true">&times;</span></button></td>
      </tr>
      <tr>
        <td>The Boys of Summer</td>
        <td>Roger Kahn</td>
        <td>Nick</td>
        <td>Memoir</td>
        <td><button type="button" class="close btn-read" aria-label="Close"><span aria-hidden="true">&times;</span></button></td>
      </tr>
      <tr>
        <td>Men without Women</td>
        <td>Ernest Hemingway</td>
        <td>Jake</td>
        <td>Short Stories</td>
        <td><button type="button" class="close btn-read" aria-label="Close"><span aria-hidden="true">&times;</span></button></td>
      </tr>
      <tr>
        <td>A Moveable Feast</td>
        <td>Ernest Hemingway</td>
        <td>Lacey</td>
        <td>Memoir</td>
        <td><button type="button" class="close btn-read" aria-label="Close"><span aria-hidden="true">&times;</span></button></td>
      </tr>
      <tr>
        <td>How Soccer Explains the World</td>
        <td>Franklin Foer</td>
        <td>Dennis</td>
        <td>misc</td>
        <td><button type="button" class="close btn-read" aria-label="Close"><span aria-hidden="true">&times;</span></button></td>
      </tr>
      <tr>
        <td>Brother, I'm Dying</td>
        <td>Edwidge Danticat</td>
        <td>Literary Disco</td>
        <td>Historical Fiction</td>
        <td><button type="button" class="close btn-read" aria-label="Close"><span aria-hidden="true">&times;</span></button></td>
      </tr>
      <tr>
        <td>The Tyranny of Words</td>
        <td>Stuart Chase</td>
        <td>Wes</td>
        <td>History</td>
        <td><button type="button" class="close btn-read" aria-label="Close"><span aria-hidden="true">&times;</span></button></td>
      </tr>
      <tr>
        <td>The Girl with the Dragon Tattoo</td>
        <td>Stieg Larsson</td>
        <td>Lacey</td>
        <td>Crime</td>
        <td><button type="button" class="close btn-read" aria-label="Close"><span aria-hidden="true">&times;</span></button></td>
      </tr>
      <tr>
        <td>Crooked Letter, Crooked Letter</td>
        <td>Tom Franklin</td>
        <td>Literary Disco</td>
        <td>Crime</td>
        <td><button type="button" class="close btn-read" aria-label="Close"><span aria-hidden="true">&times;</span></button></td>
      </tr>
    </table>
  </div>
</div>