<div class="book-list-container">
  <button class="btn btn-default btn-add-book">Add a book!</button>
  <div class="table-responsive">
    <table class="table table-hover">
      <tr>
        <th>Title<span class="caret"></span></th>
        <th>Author<span class="caret"></span></th>
        <th>Recommender<span class="caret"></span></th>
        <th>Genre<span class="caret"></span></th>
        <th>Read</th>
      </tr>
      <tr>
        <td>{{title}}</td>
        <td>{{author}}</td>
        <td>{{recommender}}</td>
        <td>{{genre}}</td>
        <td>{{''}}</td>
      </tr>
    </table>
  </div>
</div>




