<div class="books-view-container">
  <div class="friends-signin-container">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="friends-signin-email" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="friends-signin-email" placeholder="Email">
        </div>
      </div>
      <div class="form-group">
        <label for="friends-signin-password" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="friends-signin-password" placeholder="Password">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label>
              <input type="checkbox"> Remember me
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default btn-friends-signin">Sign in</button>
        </div>
      </div>
    </form>

  </div>

</div>
