<div class="vdt-image-container">
  <img class="vdt-image" id="1a" src="/images/VDT/vdt-1a.png">
  <img class="vdt-image" id="1b" src="/images/VDT/vdt-1b.png">
</div>
<hr> 
<div class="vdt-image-container">
  <img class="vdt-image" id="2a" src="/images/VDT/vdt-2a.png">
  <img class="vdt-image" id="2b" src="/images/VDT/vdt-2b.png">
</div>
<hr> 
<div class="vdt-image-container">
  <img class="vdt-image" id="3a" src="/images/VDT/vdt-3a.png">
  <img class="vdt-image" id="3b" src="/images/VDT/vdt-3b.png">
</div>
<hr> 
<div class="vdt-image-container">
  <img class="vdt-image" id="4a" src="/images/VDT/vdt-4a.png">
  <img class="vdt-image" id="4b" src="/images/VDT/vdt-4b.png">
</div>
<hr> 
<div class="vdt-image-container">
  <img class="vdt-image" id="5a" src="/images/VDT/vdt-5a.png">
  <img class="vdt-image" id="5b" src="/images/VDT/vdt-5b.png">
</div>
<hr> 
<div class="vdt-image-container">
  <img class="vdt-image" id="6a" src="/images/VDT/vdt-6a.png">
  <img class="vdt-image" id="6b" src="/images/VDT/vdt-6b.png">
</div>
<hr> 
<div class="vdt-image-container">
  <img class="vdt-image" id="7a" src="/images/VDT/vdt-7a.png">
  <img class="vdt-image" id="7b" src="/images/VDT/vdt-7b.png">
</div>
<hr> 
<div class="vdt-image-container">
  <img class="vdt-image" id="8a" src="/images/VDT/vdt-8a.png">
  <img class="vdt-image" id="8b" src="/images/VDT/vdt-8b.png">
</div>
<hr> 
<div class="vdt-image-container">
  <img class="vdt-image" id="9a" src="/images/VDT/vdt-9a.png">
  <img class="vdt-image" id="9b" src="/images/VDT/vdt-9b.png">
</div>
<hr> 
<div class="vdt-image-container">
  <img class="vdt-image" id="10a" src="/images/VDT/vdt-10a.png">
  <img class="vdt-image" id="10b" src="/images/VDT/vdt-10b.png">
</div>
<hr> 
<div class="vdt-image-container">
  <img class="vdt-image" id="11a" src="/images/VDT/vdt-11a.png">
  <img class="vdt-image" id="11b" src="/images/VDT/vdt-11b.png">
</div>
<hr> 
<div class="vdt-image-container">
  <img class="vdt-image" id="12a" src="/images/VDT/vdt-12a.png">
  <img class="vdt-image" id="12b" src="/images/VDT/vdt-12b.png">
</div>
<hr> 
<div class="vdt-image-container">
  <img class="vdt-image" id="13a" src="/images/VDT/vdt-13a.png">
  <img class="vdt-image" id="13b" src="/images/VDT/vdt-13b.png">
</div>
<hr> 
<div class="vdt-image-container">
  <img class="vdt-image" id="14a" src="/images/VDT/vdt-14a.png">
  <img class="vdt-image" id="14b" src="/images/VDT/vdt-14b.png">
</div>
<hr> 
<div class="vdt-image-container">
  <img class="vdt-image" id="15a" src="/images/VDT/vdt-15a.png">
  <img class="vdt-image" id="15b" src="/images/VDT/vdt-15b.png">
</div>
<hr> 
<div class="vdt-image-container">
  <img class="vdt-image" id="16a" src="/images/VDT/vdt-16a.png">
  <img class="vdt-image" id="16b" src="/images/VDT/vdt-16b.png">
</div>
<hr> 
<div class="vdt-image-container">
  <img class="vdt-image" id="17a" src="/images/VDT/vdt-17a.png">
  <img class="vdt-image" id="17b" src="/images/VDT/vdt-17b.png">
</div>
<hr> 
<div class="vdt-image-container">
  <img class="vdt-image" id="18a" src="/images/VDT/vdt-18a.png">
  <img class="vdt-image" id="18b" src="/images/VDT/vdt-18b.png">
</div>
<hr> 
<div class="vdt-image-container">
  <img class="vdt-image" id="19a" src="/images/VDT/vdt-19a.png">
  <img class="vdt-image" id="19b" src="/images/VDT/vdt-19b.png">
</div>
<hr> 
<div class="vdt-image-container">
  <img class="vdt-image" id="20a" src="/images/VDT/vdt-20a.png">
  <img class="vdt-image" id="20b" src="/images/VDT/vdt-20b.png">
</div>
<hr> 
<div class="vdt-image-container">
  <img class="vdt-image" id="21a" src="/images/VDT/vdt-21a.png">
  <img class="vdt-image" id="21b" src="/images/VDT/vdt-21b.png">
</div>
<hr> 
<div class="vdt-image-container">
  <img class="vdt-image" id="22a" src="/images/VDT/vdt-22a.png">
  <img class="vdt-image" id="22b" src="/images/VDT/vdt-22b.png">
</div>
<hr> 
<div class="vdt-image-container">
  <img class="vdt-image" id="23a" src="/images/VDT/vdt-23a.png">
  <img class="vdt-image" id="23b" src="/images/VDT/vdt-23b.png">
</div>
<hr> 
<div class="vdt-image-container">
  <img class="vdt-image" id="24a" src="/images/VDT/vdt-24a.png">
  <img class="vdt-image" id="24b" src="/images/VDT/vdt-24b.png">
</div>
<hr> 
<div class="vdt-image-container">
  <img class="vdt-image" id="25a" src="/images/VDT/vdt-25a.png">
  <img class="vdt-image" id="25b" src="/images/VDT/vdt-25b.png">
</div>
<hr> 
<div class="vdt-image-container">
  <img class="vdt-image" id="26a" src="/images/VDT/vdt-26a.png">
  <img class="vdt-image" id="26b" src="/images/VDT/vdt-26b.png">
</div>
<hr> 
<div class="vdt-image-container">
  <img class="vdt-image" id="27a" src="/images/VDT/vdt-27a.png">
  <img class="vdt-image" id="27b" src="/images/VDT/vdt-27b.png">
</div>
<hr> 
<div class="vdt-image-container">
  <img class="vdt-image" id="28a" src="/images/VDT/vdt-28a.png">
  <img class="vdt-image" id="28b" src="/images/VDT/vdt-28b.png">
</div>
<hr> 
<div class="vdt-image-container">
  <img class="vdt-image" id="29a" src="/images/VDT/vdt-29a.png">
  <img class="vdt-image" id="29b" src="/images/VDT/vdt-29b.png">
</div>
<hr> 
<div class="vdt-image-container">
  <img class="vdt-image" id="30a" src="/images/VDT/vdt-30a.png">
  <img class="vdt-image" id="30b" src="/images/VDT/vdt-30b.png">
</div>
<hr> 
<div class="vdt-image-container">
  <img class="vdt-image" id="31a" src="/images/VDT/vdt-31a.png">
  <img class="vdt-image" id="31b" src="/images/VDT/vdt-31b.png">
</div>
<hr> 
<div class="vdt-image-container">
  <img class="vdt-image" id="32a" src="/images/VDT/vdt-32a.png">
  <img class="vdt-image" id="32b" src="/images/VDT/vdt-32b.png">
</div>
<hr> 
<div class="vdt-image-container">
  <img class="vdt-image" id="33a" src="/images/VDT/vdt-33a.png">
  <img class="vdt-image" id="33b" src="/images/VDT/vdt-33b.png">
</div>
<hr> 
<div class="vdt-image-container">
  <img class="vdt-image" id="34a" src="/images/VDT/vdt-34a.png">
  <img class="vdt-image" id="34b" src="/images/VDT/vdt-34b.png">
</div>
<hr> 
<div class="vdt-image-container">
  <img class="vdt-image" id="35a" src="/images/VDT/vdt-35a.png">
  <img class="vdt-image" id="35b" src="/images/VDT/vdt-35b.png">
</div>
<hr> 
